<template>
  <div class="">
    <div class="bg-contact"><h2>Contact Us</h2></div>
    <div class="bg-sub-contact">

    </div>
    <v-container>
    <v-row>
        <v-col cols="12" sm="8" md="8">
          <v-container>

          <v-row>
            <v-col cols="12" sm="6" md="6">
              <h3>Our Office Address</h3>
              <p>Baguiati Centre (Jora Mandir) <br>
                  Over 3500 sq feet with large open play area and child friendly infrastructure.<br>
                  New Town (Axis Mall)<br>
                  An entire building dedicated to our little beans.</p><br>
                <!-- <div class="">
                  <table>
                    <tbody>
                      <tr>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div> -->
            </v-col>
            <v-col cols="12" sm="3" md="3">
              <v-card>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.788349949847!2d88.43122451443493!3d22.624377436770914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89e31d42afce9%3A0xb44c3902273ae9f5!2s2B%2C+68%2C+59%2C+VIP+Rd%2C+Dhalipara%2C+Kaikhali%2C+Tegharia%2C+Haldirams%2C+Kolkata%2C+West+Bengal+700059!5e0!3m2!1sen!2sin!4v1562713688281!5m2!1sen!2sin" frameborder="0"  allowfullscreen=""></iframe>
            </v-card>
            </v-col>
          </v-row>
          </v-container>
        </v-col>

<!-- <v-card max-width="300"> -->
      <v-col cols="12" sm="4" md="4">
        <div class="">
          <v-container>
          <form  class="enquiry-form">
            <v-container>
              <h3>Enquiry Now</h3>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field
                class="input-name"
                v-model="name"

                label="Parent/Guardian Name"
                solo
                required
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="12">
                <v-text-field
                v-model="phone"
                class="input-name"

                label="Mobile Number"
                solo
                required
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="12">
                <v-text-field
                  v-model="email"
                  class="input-name"

                  label="E-mail"
                  solo
                  required
                  @input="$v.email.$touch()"
                  @blur="$v.email.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="12">
                <v-text-field
                v-model="childName"


                class="input-name"


                label="Child's Name"
                solo
                required
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="12">
                <v-menu

                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="date"

                      label="Date of Birth"
                      solo
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    type="month"
                    :max="new Date().toISOString().substr(0, 10)"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>

            <v-btn class="mr-4" @click="submit">submit</v-btn>

          </v-container>
          </form>
          </v-container>
        </div>
      </v-col>
<!-- </v-card> -->
    </v-row>
  </v-container>
  </div>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default {

  head () {
    return {
      title: 'Contact Us | The Beanstalk',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Call 033-4065-2177 for enquiry. Fill up the form to get in touch with us. Beanstalkedu Services Pvt Ltd.'
        }
      ]
    }
  },
  mixins: [validationMixin],

  validations: {
    name: { required },
    phone: { required },
    email: { required, email },
    childName: { required },
  },

  data: () => ({
    name: '',
    phone: '',
    email: '',
    childName: '',
    date: '',
    menu: false,
  }),

  computed: {

    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long')
      !this.$v.name.required && errors.push('Name is required.')
      return errors
    },
    mobileNumberErrors () {
      const errors = []
      if (!this.$v.phone.$dirty) return errors
      !this.$v.phone.minLength && errors.push('Mobile number must be 10 numbers')
      !this.$v.phone.required && errors.push('Mobile number is required.')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
    childNameErrors () {
      const errors = []
      if (!this.$v.childName.$dirty) return errors
      !this.$v.childName.maxLength && errors.push('child Name must be at most 10 characters long')
      !this.$v.childName.required && errors.push('Child name is required.')
      return errors
    },
  },

  methods: {
    submit () {
      this.$v.$touch()
    },
  },

}
</script>

<style scoped>
.bg-contact{
  height: 300px;
  background: url('/img/bannar-toddler11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.map{
  box-shadow: 0px 0px 1px 1px grey;
}
.enquiry-form{
  box-shadow: 2px 5px 5px 2px rgb(232, 232, 242);
  background-color: #f0f7ef;
}
iframe{
  width: 100%;
  height: 100%;
}
p{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  color: gray;
}
h3{
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}
h2{
  font-size: 8vh;
  font-family: 'Baskervville', serif;
  color: #ffa31a;
  text-align: center;
  padding-top: 200px

}
.input-name {
  height: 40px !important
}



/* .inputs{
  padding: 0 1em 1em;

}
.row{
  align-items: center;
}
.header{
  padding: 0 1em 1em;
}
.header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-weight: bold;
    font-size: 2em;
}
a:hover{color: grey;}
@media only screen and (max-width: 768px) {
.header>.container{
        flex-direction: column;
    }
} */
</style>
