<template>
   <section>
        <internationalAccreditations/>
        <internationalAccreditations2/>
        <enquiryForm/>
   </section>
</template>

<script>
import internationalAccreditations from '../../components/InternationalAccreditations/internationalAccreditations'
import internationalAccreditations2 from '../../components/InternationalAccreditations/internationalAccreditations2'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    internationalAccreditations,
    internationalAccreditations2,
    enquiryForm
  },

   head () {
    return {
      title: 'Academic partnerships & accreditations of IIMTT',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'IIMTT is an accredited by IMC, IMS, London Teacher Training College and Charted College Of Teaching, UK.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
