<template>
  <div class="">
    <div class="container">

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color1"
          >
          <!-- <v-img
            class="white--text align-end"
            height="250px"
            src="/img/centre2.jpg"
          > -->

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Diploma in Montessori Teacher Training (Regular)</h2>
              <div class="p">
                <p>A comprehensive, regular class room (6 months-1 year) course in Montessori Teacher Training for those wishing to work with, or be in charge of Montessori house of children in the age-group uptil 6 years. Under Graduates are awarded a Montessori Teaching Diploma for the Preschool level.</p>

              </div>

            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color2"
          >
          <!-- <v-img
            class="white--text align-end"
            height="250px"
            src="/img/centre-card2.jpg"
          > -->

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Diploma in Montessori Teacher Training - Weekend Batch</h2>
              <div class="p">
                <p>Introducing an easy paced Weekend Batch for working professionals. This year long Saturday & Sunday Diploma Course is a comprehensive, regular classroom (1 year) course in Montessori Teacher Training for those wishing to work with, or be in charge of Montessori house of children. Under Graduates are awarded a Montessori Teaching Diploma in Montessori Teacher Training (Regular). Enrol today.</p>

              </div>

            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color3"
          >
          <!-- <v-img
            class="white--text align-end"
            height="250px"
            src="/img/centre-card3.jpg"
          > -->

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Diploma in Advanced Montessori Teacher Training</h2>
              <div class="p">
                <p>We offer a comprehensive, regular class room (6 months-1 year) course in Advanced Montessori Teacher Training for those who have successfully completed the Regular course and wish to enrich their knowledge further in the early childhood education space.</p>

              </div>

            </v-card-subtitle>
          </v-card>
        </div>
      </div>

      <div class="">
        <h2>So who should enrol?</h2>
        <div class="panels">
          <v-expansion-panels focusable>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h3>Students wishing to start their own Montessori School</h3>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" sm="7" md="7">
                      <div class="">
                        <p>The course includes a lesson on setting up a Montessori classroom or a Montessori   School. Our team will give advice to
                          students who have successfully completed the course and who wish to start their own pre-school. We can advise on the location of premises/teachers/ equipment, enrolling new pupils, etc.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <div align="center" class="">
                        <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>


              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h3>Students wishing to start Career as Montessori Teacher</h3>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" sm="7" md="7">
                      <div class="">
                        <p>This is an ideal course for students who are interested in Montessori Teaching. The course material is designed to understand and implement the technology of Montessori.  As there is a large demand for trained Montessori in India and abroad students can make a very good career.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <div align="center" class="">
                        <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>


              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h3>Teachers</h3>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" sm="7" md="7">
                      <div class="">
                        <p>This course is recommended to all experienced teachers of young children who wish to gain insight into the best way to individualize their teaching curriculum, so that children of mixed abilities may work at their own pace. Teachers should consider this course as an up-gradation, and could implement the Montessori methodology in the conventional schools.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <div align="center" class="">
                        <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>


              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h3>Parents</h3>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" sm="7" md="7">
                      <div class="">
                        <p>This course helps parents understand the natural laws of growth and self-construction in a child. Thus as a parent, you can help the child to grow to his utmost potential, and not unwittingly hamper the path of nature and create unintended deviations in your child.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <div align="center" class="">
                        <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>


              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h3>For those who want to work with children</h3>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" sm="7" md="7">
                      <div class="">
                        <p>This course is highly recommended for young people interested in helping small children. It is also of great value for future parenthood. Our students work for a teaching diploma examination and at the same time, they are helped to attain a higher standard of education themselves with the help of written and practical work. On completion of the course, one could find suitable jobs in Montessori environments.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <div align="center" class="">
                        <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>


              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h3>People wishing to help handicapped children</h3>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col cols="12" sm="7" md="7">
                      <div class="">
                        <p>The course covers in detail the needs of the handicapped child. The entire course will benefit immensely anyone wishing to teach handicapped children and will enable such children to be integrated into the classrooms in preparation for life in the community.</p>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <div align="center" class="">
                        <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>


            </v-expansion-panels>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:'centres2'
}
</script>
<style scoped>

h2{
  font-size: 5vh;
  font-family: 'Baskervville', serif;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
}
.p {
  padding-top: 30px;
  color: white;
}
.panels{
  padding-top: 20px;
}
  p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
.bg-color1{
  background-color: #FC6B46;
}
.bg-color2{
  background-color: #ffa200;
}
.bg-color3{
  background-color: #005fbf;
}
</style>
