<template>
  <div class="">
    <!-- <div class="bg-coursesOffered">

    </div> -->

    <div align="center" class="tab">
        <v-btn class=" active-bg" text to="/montessori-teacher-training-courses">Courses Offered</v-btn>
        <v-btn class="btn" text to="/international-accreditations"><span>INTERNATIONAL ACCREDITATIONS</span></v-btn>
        <v-btn class="btn" text to="/teacher-training-centre"><span>OUR TEACHER TRAINING CENTRE</span></v-btn>
        <v-btn class="btn" text to="/testimonials-reviews"><span>TESTIMONIALS</span></v-btn>
  </div>

  <div class="heading-bg">
    <div class="bg-overlay"></div>
    <div class="bg-text">
      <v-container>
        <h2><span>India’s Best Montessori Teacher Training</span></h2>
        <small> <p>Globally Recognized, Nationally Sought After</p> </small>
        <h3>International Montessori Teacher Training</h3>
      </v-container>
    </div>
  </div>


  <div class="">
    <div class="row">
        <div class="col-sm-6 col-md-6 left-course">
            <div class="circle enroll">
              <img  :src="require(`@/assets/image/enroll-now.jpg`)" alt="enroll-now">
            </div>
        </div>
        <div class="col-sm-6 col-md-6 right-course">
            <div class=" half-underline ">
              <h3 class="h3-heading">International Institute of Montessori Teacher Training</h3>

          </div>
            <div class=" course-text">
              <p>Our Institute was established to help meet the growing demand for Montessori teachers in India and abroad. Students from all states of India, Gulf countries, North America, Europe, South Africa, Australia, Singapore, Indonesia offered by us. This course equips participants to educate children in the Montessori Method, at the pre-school level anywhere in the world.</p>
              <p>Our objective is to spread awareness about Montessori Philosophies and Methodology to all corners of the world. To install in every teacher, the light of the Montessori guiding spirit.</p>
            </div>
        </div>
    </div>
  </div>

  <div class="edge-bg">
    <div class="bg-overlay"></div>
    <div class="edge-contain">
      <h2>OUR EDGE</h2>
      <div class="ul-contain">
        <ul>
          <li>Globally valued Montessori Diploma Course</li>
          <li>Only Course Nationally with audio video class support & practical video library</li>
          <li>Most recognized Montessori Course in India – highly advantageous upon relocation nationally</li>
          <li>International Affiliations & Accreditations</li>
          <li>Extremely robust curriculum focussed on Montessori and Nursery Teacher Training</li>
          <li>Only truly Practical Oriented Course with Live in-classroom training with kids</li>
          <li>Detailed Practical Orientation with Online Montessori Teacher Training Testing Platform</li>
          <li>Convenient Batches for Working Women, Dedicated Job Portal & 100% Placement Assistance</li>
        </ul>
      </div>

    </div>
  </div>

  </div>
</template>
<script>

export default {
    name:'coursesOffered'
}


</script>
<style scoped>
.tab{
margin-top: 30px;
  padding-bottom: 5px;
}
.course-text{
  height: auto;
  padding-bottom: 100px;
}
.heading-bg{
  background: #000 url('/img/happy-teacher-with-students-background_1098-2917.jpg');
  color:#fff;
  /* height: 400px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg-overlay{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  position: absolute;
}
.bg-text{
  z-index: 1;
}
.enroll img{
  width: 30%;
  height: 30%;
  margin-left: 300px;
  margin-top: 200px;

}
.heading-contain{
  padding-top: 100px;
  padding-left: 250px;
}

.heading-bg{
  width: 100%;
  height: 700px;
  background: url('/img/happy-teacher-with-students-background_1098-2917.jpg');
  background-size: cover;
  /* background-color: rgb(7, 59, 76);
  opacity: 0.5; */

}
.half-underline{
    display: inline-block;
    position: relative;
    width: 100%;
}
.half-underline:before {
  content: ' ';
  position: absolute;
  width: 35%;
  height: 1px;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 3px solid #fff;
}
.left-course{
    width: 100%;
    height: 500px;
    background: url('/img/blc-video-bg.webp');
    background-size: cover;
    background-position: left;
    position: relative;
    overflow: hidden;

  }
  .circle{
    position: absolute;
    width: 750px;
    height: 800px;
    /* background:#f3f8f1; */
    background: white;
    border-radius: 100%;
    margin-top: 20px;
    top: -120px;
    left: -190px;
    right: -200px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat
  }
  .right-course{
    background: url('/img/blc-video-bg.webp');
      height: 500px;
      width: 100%;
  }



  .bg-coursesOffered{
    width: 100%;
    height: 300px;
    background: url('/img/yle.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  .edge-bg{

    background: url('/img/edgebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    height: 600px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  .edge-contain{
    justify-content: center;
    align-items: center;
    z-index: 1;

  }
  p{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

  }
  small>p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
  h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    z-index: 1;
  }
  h2 > span {
    font-size: 12vh;
    font-family: 'Baskervville', serif;
  }
  .h3-heading{
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    color: rgb(224, 165, 15);
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    text-align: center;
  }
  ul{
        list-style-type: none;
        list-style-image: url('/img/listIcon.png');
        font-size: 3vh;
        font-family: 'Montserrat', sans-serif;
  }
  .ul-contain{
    padding-left: 50px;
    padding-right: 20px;

  }

  .enroll-now-contain{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }
  @media only screen and (max-width: 768px) {
    h2 > span {
      font-size: 4vh;
      font-family: 'Baskervville', serif;
      text-align: center;
    }
    h3{
      font-size: 3vh;
    }
    .heading-bg{
      width: 100%;
      height: 100%;

    }
    .bg-overlay{
      width: 100%;
      height: 100%;
    }
    .edge-bg{
      height: auto;
    }
    .ul-contain{
      padding-bottom: 20px;
    }
    .circle{
      display: block;
    }
    .enroll img{
      width: 20%;
      height: 20%;
    }
    .tab {
      width: 90%;
    }
    .right-course{
      height: auto;
    }
    .left-course{
      height: 300px;
      width: 100%;
    }
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
  }

  }
</style>
