<template>
  <div class="">
    <div class="bg-afterschool">

    </div>
      <h2>Maxbrain Abacus</h2><br>

      <div align="center" class="desktopMenu">
          <v-btn class="btn" text to="/cambridgeYoungLearnersEnglishYLE"><span>Cambridge Young Learners English (YLE)</span></v-btn>
          <v-btn class="btn" text to="/beanstalk3P"><span>Beanstalk 3P</span></v-btn>
          <v-btn class="btn" text to="/writo"><span>Writo</span></v-btn>
          <v-btn class="active-bg" text to="/maxbrainAbacus">Maxbrain Abacus</v-btn>
    </div>
    <div class="">
      <p>MaxBrain Abacus Program is a complete brain development program for children 5-15 years of age, where they use abacus as a tool to perform simple to complicated arithmetic calculations.</p>
    </div>
    <div class="bg-maxbrain">

    </div>

    <div class="">
      <v-row>
        <v-col cols="12" sm="4" md="4">
          <div align="center" class="">
            <img  :src="require(`@/assets/image/maxbrain2.png`)" alt="maxbrain">
          </div>
        </v-col>
        <v-col cols="12" sm="8" md="8">
          <div class="">
            <h3>The Science</h3>
          </div>
          <p>Numerous studies have shown that majority of human brain development takes place till the age of 13 years. Constant practicing on an abacus stimulates the growth of brain cells to sharpen the mental formation for a child and enhances the coordination between eyes, ears and hands through multisensory teaching. That is why this program is most beneficial for the children in the age group of 5- 13 years of age. Since this program uses the multisensory techniques which involve coordination of visual (eyes),auditory (ears), kinesthetic (motor memory), and tactile (hands) senses, it has been found to be very effective for students with learning disabilities too.</p>
        </v-col>
      </v-row>
    </div>

    <div class="">
      <v-row>
        <v-col cols="12" sm="8" md="8">
          <div class="">
            <h3>The Program Deliverables</h3>
          </div>
          <p>MaxBrain Abacus Program is a complete brain development program for children 5-13 years of age, where they use abacus as a tool to perform simple to complicated arithmetic calculations. It is a well-structured program which helps in brain development in young children.
            This course uses abacus to develop arithmetic skills of children which lead to overall self-learning skills development. Apart from teaching the mental math skills, this program works towards improving a child’s memory, concentration, attention span and focus.</p>
        </v-col>
        <v-col cols="12" sm="4" md="4">
          <div align="center" class="">
            <img  :src="require(`@/assets/image/maxbrain3.jpg`)" alt="maxbrain">
          </div>
        </v-col>

      </v-row>
    </div>

    <div class="">
      <v-row>
        <v-col cols="12" sm="4" md="4">
          <div align="center" class="">
            <img  :src="require(`@/assets/image/maxbrain4.png`)" alt="maxbrain">
          </div>
        </v-col>
        <v-col cols="12" sm="8" md="8">
          <div class="">
            <h3>The 5 Max Edge</h3>
          </div>
          <p>MaxBrain Abacus’ 5 Level Learning Program propels the learner and fast forwards his learning Five Times in just 15 months. Designed to assure 5 Times improvement in all aspects of brain development.</p>
        </v-col>
      </v-row>
    </div>

  </div>
</template>

<script>
export default {
    name:'maxbrainAbacus'
}
</script>

<style scoped>
.bg-maxbrain{
  width: 100%;
  height: 700px;
  background: url('/img/maxbrain1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-afterschool{
  width: 100%;
  height: 300px;
  background: url('/img/abacus.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 30%;
  background-attachment: fixed;
}
  h2{
    text-align: center;
    padding-top: 20px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    color: #006600;
  }
  h3{
    text-align: left;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  p{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
</style>
