<template>
  <div class="">
    <!-- Section1 -->
      <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-6">
              <h1>International Play Group </h1>
              <small>(1.5 yrs to 2.5 yrs)</small>
              <p>Toddler years are the most frightening for parents! For kids, it’s a critical period, a part of the absorbent period as termed by Dr Maria Montessori. The toddlers brain in like a sponge. Which is why it’s referred to as the ‘absorbent period’. </p>
              <p>What most kids do at this age – </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <iframe width="450" height="250" src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <v-card
          class="bottom-border"
            max-width="600"
            height="100%"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Social and Emotional</h2>
              <ul>
                <li> Copies others, especially adults and older children camer </li>
                <li> Gets excited when with other childrenNo image available for this mileston </li>
                <li> Shows more and more independence camer </li>
                <li> Shows defiant behavior (doing what he has been told not to) </li>
                <li> Plays mainly beside other children, but is beginning to include other children, such as in chase game </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
          class="bottom-border"
            max-width="600"
            height="100%"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Language/Communication</h2>
              <ul>
                <li> Points to things or pictures when they are named  </li>
                <li> Knows names of familiar people and body parts </li>
                <li> Says sentences with 2 to 4 words </li>
                <li> Follows simple instructions </li>
                <li> Repeats words overheard in conversation  </li>
                <li> Points to things in a book camera </li>
                <li> 2 year old playing with big ball </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
          class="bottom-border"
            max-width="600"
            height="100%"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Cognitive (learning, thinking, problem-solving)</h2>
              <ul>
                <li> Finds things even when hidden under two or three covers camera </li>
                <li> Begins to sort shapes and colors camera </li>
                <li> Completes sentences and rhymes in familiar books  </li>
                <li> Plays simple make-believe games camera </li>
                <li> Builds towers of 4 or more blocks camera </li>
                <li> Might use one hand more than the other </li>
                <li> Follows two-step instructions such as “Pick up your shoes and put them in the closet.” </li>
                <li> Names items in a picture book such as a cat, bird, or dog  </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Movement/Physical Development</h2>
              <ul>
                <li> Stands on tiptoe camera </li>
                <li> Kicks a ball camera </li>
                <li> Begins to run  </li>
                <li> Climbs onto and down from furniture without help camera </li>
                <li> Walks up and down stairs holding on camera </li>
                <li> Throws ball overhand camera </li>
                <li> Makes or copies straight lines and circles  </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>

      </div>

    </div>

    <!-- End section1 -->

    <!-- Section2 -->
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <iframe width="450" height="250" src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
            <div class="col-sm-6 col-md-6">
              <h1>International Kindergarten I </h1>
              <small>(2.5 yrs to 3.5 yrs)</small>
              <p>As your child grows, you keep noticing how your child plays, learns, speaks, acts, and moves. These offers important clues about your child’s development. </p>
              <p>What most children do by this age:</p>
            </div>

        </div>
      </div>

      <div class="container">
        <div class="row">
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Social and Emotional</h2>
              <ul>
                <li> Copies adults and friends camera </li>
                <li> Shows affection for friends without prompting camera </li>
                <li> Takes turns in games </li>
                <li> Shows concern for crying friend camera </li>
                <li> Understands the idea of “mine” and “his” or “hers” </li>
                <li> Shows a wide range of emotions camera </li>
                <li> Separates easily from mom and dad camera </li>
                <li> May get upset with major changes in routineNo image available for this milestone</li>
                <li> Dresses and undresses self camera </li>
                <li> Toddler hugging doll </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Language/Communication</h2>
              <ul>
                <li> Follows instructions with 2 or 3 steps   </li>
                <li> Can name most familiar things </li>
                <li> Understands words like “in,” “on,” and “under” </li>
                <li> Says first name, age, and sexNo image available for this milestone </li>
                <li> Names a friend  </li>
                <li> Says words like “I,” “me,” “we,” and “you” and some plurals (cars, dogs, cats) </li>
                <li> Talks well enough for strangers to understand most of the time </li>
                <li> Carries on a conversation using 2 to 3 sentences </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Cognitive (learning, thinking, problem-solving)</h2>
              <ul>
                <li> Can work toys with buttons, levers, and moving parts camera </li>
                <li> Plays make-believe with dolls, animals, and people camera </li>
                <li> Does puzzles with 3 or 4 pieces camera </li>
                <li> Understands what “two” means  </li>
                <li> Copies a circle with pencil or crayon camera </li>
                <li> Turns book pages one at a time camera </li>
                <li> Builds towers of more than 6 blocks camera </li>
                <li> Screws and unscrews jar lids or turns door handle camera  </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Movement/Physical Development</h2>
              <ul>
                <li> Climbs well camera</li>
                <li> Runs easily  </li>
                <li> Pedals a tricycle (3-wheel bike) camera  </li>
                <li> Walks up and down stairs, one foot on each step</li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
      </div>

      </div>

    <!-- End section2 -->

    <!-- Section3 -->
      <div class="container">
        <h1>International Kindergarten II </h1>
        <small>(3.5 yrs to 4.5 yrs)</small>
        <p>What most children do by this age: </p>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <v-card
          height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Social and Emotional</h2>
              <ul>
                <li> Enjoys doing new things  </li>
                <li> Plays “Mom” and “Dad” camera </li>
                <li> Is more and more creative with make-believe play  </li>
                <li> Would rather play with other children than by himself  </li>
                <li> Cooperates with other children camera </li>
                <li> Often can’t tell what’s real and what’s make-believe  </li>
                <li> Talks about what she likes and what she is interested in </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Language/Communication</h2>
              <ul>
                <li> Knows some basic rules of grammar, such as correctly using “he” and “she”  </li>
                <li> Sings a song or says a poem from memory such as the “Itsy Bitsy Spider” or the “Wheels on the Bus”  </li>
                <li> Tells stories  </li>
                <li> Can say first and last nameNo image available for this milestone </li>
                <li> Child throwing ball  </li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Cognitive (learning, thinking, problem-solving)</h2>
              <ul>
                <li> Names some colors and some numbers</li>
                <li> Understands the idea of counting </li>
                <li> Starts to understand time  </li>
                <li> Remembers parts of a story  </li>
                <li> Understands the idea of “same” and “different” </li>
                <li> Draws a person with 2 to 4 body parts camera </li>
                <li> Uses scissors camera </li>
                <li> Starts to copy some capital letters </li>
                <li> Plays board or card games camera</li>
                <li> Tells you what he thinks is going to happen next in a book </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Movement/Physical Development</h2>
              <ul>
                <li> Hops and stands on one foot up to 2 seconds camera </li>
                <li> Catches a bounced ball most of the time camera</li>
                <li> Pours, cuts with supervision, and mashes own food  </li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
      </div>

      </div>

    <!-- End section3 -->

    <!-- Section4 -->
      <div class="container">
        <h1>International Kindergarten III </h1>
        <!-- <small>(2.5 yrs to 3.5 yrs)</small> -->
        <!-- <p>As your child grows, you keep noticing how your child plays, learns, speaks, acts, and moves. These offers important clues about your child’s development. </p> -->
        <p>What most children do by this age:</p>
      </div>

      <div class="container">
        <div class="row">
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Social and Emotional</h2>
              <ul>
                <li> Wants to please friends camera </li>
                <li> Wants to be like friends camera </li>
                <li> More likely to agree with rules  </li>
                <li> Likes to sing, dance, and act  </li>
                <li> Is aware of gender </li>
                <li> Can tell what’s real and what’s make-believe  </li>
                <li> Shows more independence (for example, may visit a next-door neighbor by himself [adult supervision is still needed]) camera </li>
                <li> Is sometimes demanding and sometimes very cooperative camera</li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Language/Communication</h2>
              <ul>
                <li> 5 year old playing guitar  </li>
                <li> Speaks very clearly  </li>
                <li> Tells a simple story using full sentences  </li>
                <li> Uses future tense; for example, “Grandma will be here.”  </li>
                <li> Says name and addressNo image available for this milestone  </li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Cognitive (learning, thinking, problem-solving)</h2>
              <ul>
                <li> Counts 10 or more things  </li>
                <li> Can draw a person with at least 6 body parts camera </li>
                <li> Can print some letters or numbers </li>
                <li> Copies a triangle and other geometric shapes camera </li>
                <li> Knows about things used every day, like money and food </li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Movement/Physical Development</h2>
              <ul>
                <li> Stands on one foot for 10 seconds or longer </li>
                <li> Hops; may be able to skip  </li>
                <li>Can do a somersault camera  </li>
                <li> Uses a fork and spoon and sometimes a table knife camera</li>
                <li> Can use the toilet on her ownNo image available for this milestone</li>
                <li> Swings and climbs camera </li>

              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
      </div>
      </div>

    <!-- End section4 -->

    <div class="footer-top">
      <img  :src="require(`@/assets/image/testi-logo.png`)" class="img-responsive" alt="img">
    </div>
</div>


</template>
<script>
export default {
    name:'bip'
}
</script>
<style scoped>
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
  h1{
    font-size: 5vh;
    font-family: cursive;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2{
    font-size: 4vh;
    font-family: cursive;

    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  small{
    text-align: center;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;

  }
  p{
    font-size: 3vh;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  ul{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 2vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-top{
    width: 100%;
    height: 200px;
    background: url('/img/testi-pattan-header.jpeg');
  }
  img{
    padding-top: 30px;
    height: 150px;
    width: 150px;
  }

</style>
