<template>
  <div class="">
  <!-- <div class="bg-contain container-fluid">

  </div> -->

  <v-card class="tab-header" >
    <v-tabs  >
      <v-tab class="tab-style">
        <v-icon left>mdi-message-text</v-icon>
          Toddlers
      </v-tab>
      <v-tab>
        <v-icon left>mdi-lock</v-icon>
          International Play Group
      </v-tab>
      <v-tab>
        <v-icon left>mdi-access-point</v-icon>
        International Kindergarten I
      </v-tab>
      <v-tab>
        <v-icon left>add_to_queue</v-icon>
        International Kindergarten II
      </v-tab>
      <v-tab>
        <v-icon left>forum</v-icon>
        International Kindergarten III
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <toddlers/>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <ipg/>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <ik1/>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <ik2/>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <ik3/>
        </v-card>
      </v-tab-item>

    </v-tabs>
  </v-card>
</div>
</template>
<script>
import toddlers from './toddlers'
import ipg from './ipg'
import ik1 from './ik1'
import ik2 from './ik2'
import ik3 from './ik3'
export default {
    name:'biptabs',
    components: {
      toddlers,
      ipg,
      ik1,
      ik2,
      ik3
    },
}
</script>
<style scoped>
.bg-contain{
  height: 600px;
  background: url('/img/program-bg.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-position: 50% 50%; */
}

.basil {
  background-color: #FFFBE6 !important;
}
.basil--text {
  color: #356859 !important;
}
/* .tab-style{
  background-color: red;

} */
.tab-header{
  top: 120px;
}

</style>
