<template>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <iframe width="450" height="250" src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
          <div class="col-sm-6 col-md-6">
            <h1>International Kindergarten I </h1>
            <small>(2.5 yrs to 3.5 yrs)</small>
            <p>As your child grows, you keep noticing how your child plays, learns, speaks, acts, and moves. These offers important clues about your child’s development. </p>
            <p>What most children do by this age:</p>
          </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/2.1.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Social and Emotional</h2>
            <ul>
              <li> Copies adults and friends camera </li>
              <li> Shows affection for friends without prompting camera </li>
              <li> Takes turns in games </li>
              <li> Shows concern for crying friend camera </li>
              <li> Understands the idea of “mine” and “his” or “hers” </li>
              <li> Shows a wide range of emotions camera </li>
              <li> Separates easily from mom and dad camera </li>
              <li> May get upset with major changes in routineNo image available for this milestone</li>
              <li> Dresses and undresses self camera </li>
              <li> Toddler hugging doll </li>
            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/2.2.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Language/Communication</h2>
            <ul>
              <li> Follows instructions with 2 or 3 steps   </li>
              <li> Can name most familiar things </li>
              <li> Understands words like “in,” “on,” and “under” </li>
              <li> Says first name, age, and sexNo image available for this milestone </li>
              <li> Names a friend  </li>
              <li> Says words like “I,” “me,” “we,” and “you” and some plurals (cars, dogs, cats) </li>
              <li> Talks well enough for strangers to understand most of the time </li>
              <li> Carries on a conversation using 2 to 3 sentences </li>
            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/2.3.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Cognitive (learning, thinking, problem-solving)</h2>
            <ul>
              <li> Can work toys with buttons, levers, and moving parts camera </li>
              <li> Plays make-believe with dolls, animals, and people camera </li>
              <li> Does puzzles with 3 or 4 pieces camera </li>
              <li> Understands what “two” means  </li>
              <li> Copies a circle with pencil or crayon camera </li>
              <li> Turns book pages one at a time camera </li>
              <li> Builds towers of more than 6 blocks camera </li>
              <li> Screws and unscrews jar lids or turns door handle camera  </li>
            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/2.4.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Movement/Physical Development</h2>
            <ul>
              <li> Climbs well camera</li>
              <li> Runs easily  </li>
              <li> Pedals a tricycle (3-wheel bike) camera  </li>
              <li> Walks up and down stairs, one foot on each step</li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
    </div>

    </div>
  </div>
</template>

<script>
  export default{
    name: 'ik1'
  }
</script>
<style scoped>
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
  h1{
    font-size: 5vh;
    font-family: cursive;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2{
    font-size: 4vh;
    font-family: cursive;

    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  small{
    text-align: center;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;

  }
  p{
    font-size: 3vh;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  ul{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 2vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>
