<template>
  <div class="">
    <div class="container">
      <h1>International Kindergarten II </h1>
      <small>(3.5 yrs to 4.5 yrs)</small>
      <p>What most children do by this age: </p>
    </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <v-card
        height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/3.1.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Social and Emotional</h2>
            <ul>
              <li> Enjoys doing new things  </li>
              <li> Plays “Mom” and “Dad” camera </li>
              <li> Is more and more creative with make-believe play  </li>
              <li> Would rather play with other children than by himself  </li>
              <li> Cooperates with other children camera </li>
              <li> Often can’t tell what’s real and what’s make-believe  </li>
              <li> Talks about what she likes and what she is interested in </li>
            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/3.2.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Language/Communication</h2>
            <ul>
              <li> Knows some basic rules of grammar, such as correctly using “he” and “she”  </li>
              <li> Sings a song or says a poem from memory such as the “Itsy Bitsy Spider” or the “Wheels on the Bus”  </li>
              <li> Tells stories  </li>
              <li> Can say first and last nameNo image available for this milestone </li>
              <li> Child throwing ball  </li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/3.3.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Cognitive (learning, thinking, problem-solving)</h2>
            <ul>
              <li> Names some colors and some numbers</li>
              <li> Understands the idea of counting </li>
              <li> Starts to understand time  </li>
              <li> Remembers parts of a story  </li>
              <li> Understands the idea of “same” and “different” </li>
              <li> Draws a person with 2 to 4 body parts camera </li>
              <li> Uses scissors camera </li>
              <li> Starts to copy some capital letters </li>
              <li> Plays board or card games camera</li>
              <li> Tells you what he thinks is going to happen next in a book </li>
            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/3.4.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Movement/Physical Development</h2>
            <ul>
              <li> Hops and stands on one foot up to 2 seconds camera </li>
              <li> Catches a bounced ball most of the time camera</li>
              <li> Pours, cuts with supervision, and mashes own food  </li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
    </div>

    </div>
  </div>
</template>


<script>
  export default{
    name: 'ik2'
  }
</script>
<style scoped>
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
  h1{
    font-size: 5vh;
    font-family: cursive;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2{
    font-size: 4vh;
    font-family: cursive;

    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  small{
    text-align: center;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;

  }
  p{
    font-size: 3vh;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  ul{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 2vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>
