<template>
  <div class="">
    <div class="container">
      <h1>International Kindergarten III </h1>
      <!-- <small>(2.5 yrs to 3.5 yrs)</small> -->
      <!-- <p>As your child grows, you keep noticing how your child plays, learns, speaks, acts, and moves. These offers important clues about your child’s development. </p> -->
      <p>What most children do by this age:</p>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/4.1.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Social and Emotional</h2>
            <ul>
              <li> Wants to please friends camera </li>
              <li> Wants to be like friends camera </li>
              <li> More likely to agree with rules  </li>
              <li> Likes to sing, dance, and act  </li>
              <li> Is aware of gender </li>
              <li> Can tell what’s real and what’s make-believe  </li>
              <li> Shows more independence (for example, may visit a next-door neighbor by himself [adult supervision is still needed]) camera </li>
              <li> Is sometimes demanding and sometimes very cooperative camera</li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/4.2.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Language/Communication</h2>
            <ul>
              <li> 5 year old playing guitar  </li>
              <li> Speaks very clearly  </li>
              <li> Tells a simple story using full sentences  </li>
              <li> Uses future tense; for example, “Grandma will be here.”  </li>
              <li> Says name and addressNo image available for this milestone  </li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/4.3.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Cognitive (learning, thinking, problem-solving)</h2>
            <ul>
              <li> Counts 10 or more things  </li>
              <li> Can draw a person with at least 6 body parts camera </li>
              <li> Can print some letters or numbers </li>
              <li> Copies a triangle and other geometric shapes camera </li>
              <li> Knows about things used every day, like money and food </li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-3 col-md-3">
        <v-card
          height="100%"
          max-width="600"
          class="bottom-border"
        >
          <v-img
            class="white--text align-end"
            height="200px"
            src="/img/4.4.png"
          >
            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>Movement/Physical Development</h2>
            <ul>
              <li> Stands on one foot for 10 seconds or longer </li>
              <li> Hops; may be able to skip  </li>
              <li>Can do a somersault camera  </li>
              <li> Uses a fork and spoon and sometimes a table knife camera</li>
              <li> Can use the toilet on her ownNo image available for this milestone</li>
              <li> Swings and climbs camera </li>

            </ul>
          </v-card-subtitle>
        </v-card>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
  export default{
    name: 'ik3'
  }
</script>
<style scoped>
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
  h1{
    font-size: 5vh;
    font-family: cursive;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2{
    font-size: 4vh;
    font-family: cursive;

    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  small{
    text-align: center;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;

  }
  p{
    font-size: 3vh;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  ul{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 2vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>
