<template>
  <div class="">
    <!-- Section1 -->
      <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-6">
              <h1>International Play Group </h1>
              <small>(1.5 yrs to 2.5 yrs)</small>
              <p>Toddler years are the most frightening for parents! For kids, it’s a critical period, a part of the absorbent period as termed by Dr Maria Montessori. The toddlers brain in like a sponge. Which is why it’s referred to as the ‘absorbent period’. </p>
              <p>What most kids do at this age – </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <iframe width="450" height="250" src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <v-card
          class="bottom-border"
            max-width="600"
            height="100%"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="/img/1.1 social and emotional.png"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Social and Emotional</h2>
              <ul>
                <li> Copies others, especially adults and older children camer </li>
                <li> Gets excited when with other childrenNo image available for this mileston </li>
                <li> Shows more and more independence camer </li>
                <li> Shows defiant behavior (doing what he has been told not to) </li>
                <li> Plays mainly beside other children, but is beginning to include other children, such as in chase game </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
          class="bottom-border"
            max-width="600"
            height="100%"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="/img/1.2 communication.png"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Language/Communication</h2>
              <ul>
                <li> Points to things or pictures when they are named  </li>
                <li> Knows names of familiar people and body parts </li>
                <li> Says sentences with 2 to 4 words </li>
                <li> Follows simple instructions </li>
                <li> Repeats words overheard in conversation  </li>
                <li> Points to things in a book camera </li>
                <li> 2 year old playing with big ball </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
          class="bottom-border"
            max-width="600"
            height="100%"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="/img/1.3.png"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Cognitive (learning, thinking, problem-solving)</h2>
              <ul>
                <li> Finds things even when hidden under two or three covers camera </li>
                <li> Begins to sort shapes and colors camera </li>
                <li> Completes sentences and rhymes in familiar books  </li>
                <li> Plays simple make-believe games camera </li>
                <li> Builds towers of 4 or more blocks camera </li>
                <li> Might use one hand more than the other </li>
                <li> Follows two-step instructions such as “Pick up your shoes and put them in the closet.” </li>
                <li> Names items in a picture book such as a cat, bird, or dog  </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="200px"
              src="/img/1.4.png"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Movement/Physical Development</h2>
              <ul>
                <li> Stands on tiptoe camera </li>
                <li> Kicks a ball camera </li>
                <li> Begins to run  </li>
                <li> Climbs onto and down from furniture without help camera </li>
                <li> Walks up and down stairs holding on camera </li>
                <li> Throws ball overhand camera </li>
                <li> Makes or copies straight lines and circles  </li>
              </ul>
            </v-card-subtitle>
          </v-card>
        </div>

      </div>

    </div>

    <!-- End section1 -->
  </div>
</template>
<script>
  export default{
    name: 'ipg'
  }
</script>
<style scoped>
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
  h1{
    font-size: 5vh;
    font-family: cursive;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2{
    font-size: 4vh;
    font-family: cursive;

    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  small{
    text-align: center;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;

  }
  p{
    font-size: 3vh;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  ul{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 2vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>
