<template>
  <div class="container-fluid ">
    <div class="bannar-toddlers">
      <div class="header-title">
        <h2>TODDLERS</h2>
      </div>
    </div>

    <div class="container">
      <div class="">
        <h3>Why do I need a mother toddler program?</h3>
        <p>The mother toddler <a href="#">program</a>, which includes a host of different activities, is envisioned for the age group of 6 months to 18 months It gives your toddler an opportunity to explore creativity and interact with other children. This experience is not only recreational but also provides momentous learning opportunities for you and your toddler.
          Research also shows that parental involvement plays one of the most significant roles in a child’s educational triumph. Moreover, parents who are active in their child’s education are representing that education is an essential family value.</p>
          <v-responsive align="center" class="video-section">
            <iframe  src="https://www.youtube.com/embed/yip5ZoC_Z8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </v-responsive>
        <!-- <div align="center" class="video-section">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yip5ZoC_Z8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->

        <div class="row">
          <div class="col-sm-8 col-md-8  col-xl-8 col-xs-8">
            <h4>Benefits of a mother toddler program</h4><br>
            <p>Sensory & motor skill development – An essential component in your child development Name: *</p><br>
            <p>Create like-minded mommy’s group – Enjoy chatting with like-minded mommies and share your experiences too. More importantly, you get to interact with other adults in your otherwise busy life.</p><br>
            <p>No teary transitions to Pre-School – Social Interaction at this program eases the pre-school transition.</p><br>
            <p>Explore more about your Child Interests – You can activate their latent abilities and interests.</p><br>
            <p>Create a special bond with your child – Spending quality time with your child at this age, create a lifetime bond</p>
          </div>
          <div align="center" class="col-sm-4 col-md-4 col-xl-4 col-xs-4 img-style">
            <img  :src="require(`@/assets/image/toddlr1.jpeg`)" class="img-responsive" alt="img">
          </div>
        </div>

        <div class="row">

          <div align="center" class="col-sm-4 col-md-4 col-xl-4 col-xs-4 img-style">
            <img  :src="require(`@/assets/image/tddlr2.jpg`)" class="img-responsive" alt="img">
          </div>
          <div class="col-sm-8 col-md-8  col-xl-8 col-xs-8">
            <h4>Benefits of a mother toddler program</h4><br>
            <p>The Toddlers Program specialises in creating fun learning experiences, for babies from 6 months old to toddlers (18 months). Our weekly classes offer an intimate and nurturing environment where mothers and their young children engage in a range of carefully designed play-based activities that maximise learning potential.  Small groups, led by carefully selected and trained facilitators who understand the development of young children, are designed to optimise the uniqueness and unlimited potential of each child.</p><br>
            <p>​Our classes involve a variety of stimulating activities for babies and toddlers that are presented in a fun, relaxed and nurturing environment.  The parent or caregiver is actively involved in each session, guiding and encouraging the child through age appropriate learning activities.</p>
          </div>
        </div>
      </div>

      </div>
</div>
</template>
<script>
export default {
    name:'toddlers'
}
</script>
<style scoped>
a{
  text-decoration: none;
  color: green;
}
  .bannar-toddlers{
    height: 500px;
    background: url('/img/bannar-toddler11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-style{
    padding-top: 50px;
  }
  .header-title{
    text-align: center;
    color: white;
    padding-top: 200px;
  }
  h2{
    font-size: 12vh;
    font-family: 'Baskervville', serif;
  }
  h3{
    font-size: 5vh;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }
  h4{
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }
  p {
   padding-left: 10px;
   padding-right: 10px;
   font-size: 3vh;
   text-align: justify;
   font-family: 'Montserrat', sans-serif;
 }
 .video-section{
   padding-top: 20px;
 }

 @media only screen and (max-width: 1024px) {
   .video-section{
     width:auto;
     height:auto;
   }
 }
</style>
