<template>
  <div class="">
    <div class="bg-afterschool">

    </div>
        <h2>Cambridge Young Learners English (YLE)</h2>
        <div align="center" class="desktopMenu">
            <v-btn active='true' class=" active-bg" text to="/cambridgeYoungLearnersEnglishYLE">Cambridge Young Learners English (YLE)</v-btn>
            <v-btn class="btn" text to="/beanstalk3P"><span>Beanstalk 3P</span></v-btn>
            <v-btn class="btn" text to="/writo"><span>Writo</span></v-btn>
            <v-btn class="btn" text to="/maxbrainAbacus"><span>Maxbrain Abacus</span></v-btn>
      </div>
      <div class="">
        <p>Children who learn Communicative English when they are young, have a significant advantage when they leave school. Cambridge English exams are valued around the world and, with a Cambridge English qualification, children can access the best study, work and life opportunities.</p>
        <p>These exams are linked to the Common European Framework of Reference for Languages (CEFR) – the internationally agreed standard to describe language ability. This makes it easy to see the progress your child is making in English, and for employers and educational institutions to recognize your child’s ability when they leave school.</p>
        <p>At The Beanstalk, we prepare kids with a solid foundation to ace these assessment exams from Cambridge. The Beanstalk Communicative English for Young Learners is a series of fun, motivating English language multi-level program for children in primary and lower-secondary education. There are three activity-based tests – Starters, Movers and Flyers. This gives students a clear path to improve in English.</p>
        <p>Some programs claim to teach you English the same way that you learned your native language, but this is not as simple as it may sound. When children learn their native language, they listen for almost two years before they begin to speak. Once they do speak, it is another few years before they can clearly communicate. They start off with single words and sentence fragments (parts) before they can express complex ideas.</p>
        <p>If it takes a child this long to master their native language, wouldn’t they become confused and overwhelmed trying to learn another language, too? Actually, no. </p>
      </div>
      <!-- <div class="">
        <enquiryForm/>
      </div> -->
  </div>
</template>
<script>
// import enquiryForm from '../Programs/enquiryForm'
export default {
    name:'yle'
}
// components: {
//   enquiryForm
// }
</script>
<style scoped>
.bg-afterschool{
  width: 100%;
  height: 300px;
  background: url('/img/yle.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
p{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
  h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    color: #006600;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }
</style>
