<template>
  <div class="">
    <div class="bg-writo">

    </div>
      <h2>Writo</h2><br>

      <div align="center" class="desktopMenu">
          <v-btn class="btn" text to="/cambridgeYoungLearnersEnglishYLE"><span>Cambridge Young Learners English (YLE)</span></v-btn>
          <v-btn class="btn" text to="/beanstalk3P"><span>Beanstalk 3P</span></v-btn>
          <v-btn class=" active-bg" text to="/writo">Writo</v-btn>
          <v-btn class="btn" text to="/maxbrainAbacus"><span>Maxbrain Abacus</span></v-btn>
    </div>
    <div class="writo1">

    </div>
    <div class="writo2">

    </div>
  </div>
</template>

<script>
export default {
    name:'writo'
}
</script>

<style scoped>
  .writo1{
    width: 100%;
    height: 700px;
    background: url('/img/writo1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .writo2{
    width: 100%;
    height: 700px;
    background: url('/img/writo2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
.bg-writo{
  width: 100%;
  height: 300px;
  background: url('/img/writo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 30%;
  background-attachment: fixed;
}
  h2{
    text-align: center;
    padding-top: 20px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    color: #006600;
  }
  p{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
</style>
