<template>
   <section>
        <!-- <bip/> -->
        <biptabs/>
   </section>
</template>

<script>
// import bip from '../../components/BeanstalkInternationalPreschool/bip'
import biptabs from '../../components/BeanstalkInternationalPreschool/biptabs'

export default {
  components: {
    // bip,
    biptabs
  },

   head () {
    return {
      title: 'Best pre-school, play school in Kolkata | The Beanstalk',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Beanstalk International Preschool provides the best preschool infrastructure in Kolkata in VIP Road Baguiati and near Axis Mall New Town.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
