<template>
  <div class="bgc1 ">
    <div class="">

      <div  class="">
        <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <div align="center" class="">
              <v-btn active='true' class=" active-bg" text to="/centres">Company Owned Centres</v-btn>
            </div>

          </v-col>
          <v-col  cols="12" sm="6" md="6">
            <div align="center" class="">
              <v-btn class="btn" text to="#"><span>Our Global Partners</span></v-btn>
            </div>

          </v-col>
        </v-row>
      </v-container>

      </div>
      <h2>OUR CENTRES</h2>
      <p>Beanstalk ILC is a concept early learning centre that is self administered and self run by The Beanstalk. It is currently located in two premium locations in Kolkata. </p>

<div class="container-fluid">
  <v-carousel
    cycle
    height="400"
    hide-delimiter-background
    show-arrows-on-hover
  >
    <v-carousel-item
      v-for="(item, i) in items"
      :key="i"
      :src="item.src"

    >

      <div> <h2 class="h2-title-color">{{ item.title }}</h2></div>
      <div> <h4>{{ item.drescription }}</h4></div>

    </v-carousel-item>
  </v-carousel>
</div>
        <!-- <template>
              <v-carousel
                cycle
                height="400"
                hide-delimiter-background
                show-arrows-on-hover
              >
                <v-carousel-item
                  v-for="(item, i) in items"
                  :key="i"
                  :src="item.src"

                >

                  <div> <h2 class="h2-title-color">{{ item.title }}</h2></div>
                  <div> <h4>{{ item.drescription }}</h4></div>

                </v-carousel-item>
              </v-carousel>
      </template> -->
    </div>
  </div>
</template>

<script>
export default {
    name:'centres1',
    data () {
      return {
        items: [
          {
            src: '/img/centre1.jpg',
            title: "Beanstalk ILC Baguiati (Jora Mandir)",
            drescription: "Spread over 3500 sq feet, the preschool in Baguiati is located on VIP Road in Jora Mandir close to landmarks like VIP Enclave, Big Bazaar Raghunathpur and Vishal Megamart. The ILC runs all the 3 programs – preschool, teacher training and afterschool."
          },
          {
            src: '/img/centre2.jpg',
            title: "Beanstalk ILC New Town (Axis Mall)",
            drescription: "The ILC, spread over 4000 sq feet is located in a dedicated G+4 building in New Town Action Area 1 CA Block, in close proximity to Axis Mall. The property is a delight for children and parents alike with the highest level of detailing done for aesthetics and functionality while according the topmost priority for safety and security of children."
          },


        ],
      }
    },
}
</script>
<style scoped>
  .bgc1{
    background-color: #f0f7ef;
  }

  .active-bg{
    background: #006600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  /* .btn{
    float: right;
  } */
  .btn:hover{
    background-color: #66cc00;
  }
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  .img-centre{
    padding-top: 10px;
    width: 90%;
    height: 80%;
  }

  h2{
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    text-align: center;
    padding-top: 30px;
  }
  .h2-title-color{
    color: orenge;
  }
  h3{
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
  }
  h4{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ffad33;
  }
  p{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    font-size: 3vh;


  }


  /* @media (min-width: 480px){
      img{
      position: absolute;
    }
  } */

</style>
