<template>
  <div class="container-fluid bgc2">
    <div class="container">

      <div class="row container">
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color1"
          >
          <v-img
            class="white--text align-end"
            height="250px"
            src="/img/centre2.jpg"
          >

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <div class="p">
                <p>Well planned Campus with modern world-class facilities</p>
                <p>Air-conditioned classrooms + child friendly interiors</p>
                <p>Fire Licensed campus with utmost emphasis on child safety</p>
              </div>

            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color2"
          >
          <v-img
            class="white--text align-end"
            height="250px"
            src="/img/centre-card2.jpg"
          >

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <div class="p">
                <p>Security monitoring of campus through CCTV Camera</p>
                <p>Spacious Play Area with Splash Pool & Sandpit Area</p>
                <p>Curriculum Developed on Primary Year Program (International Baccalaureate (IB) Guidelines)</p>
              </div>

            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color3"
          >
          <v-img
            class="white--text align-end"
            height="250px"
            src="/img/centre-card3.jpg"
          >

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <div class="p">
                <p>Initiation to language skills through Phonics Program</p>
                <p>Best in class Ideal Adult to Child Ratio of 1:5 </p>
                <p>Field Trips & Visits to places of cultural, historical & environmental interests</p>
                <p>An experiential learning program for kids</p>
              </div>

            </v-card-subtitle>
          </v-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:'centres2'
}
</script>
<style scoped>
.bgc2{
  background-color: #f0f7ef;
}
h2{
  font-size: 4vh;
  font-family: cursive;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.p {
  padding-top: 30px;
  color: white;
}
  p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
.bg-color1{
  background-color: #FC6B46;
}
.bg-color2{
  background-color: #ffa200;
}
.bg-color3{
  background-color: #005fbf;
}
</style>
