<template>
  <div class="">
    <div class="bg-curriculum"><h2>Our Curriculums</h2></div>

    <div class="">
    <v-row>
        <v-col cols="12" sm="6" md="6" class="left-curriculum1">
            <div class="circle">
            <div class="iframe-area">
              <img  :src="require(`@/assets/image/PSA Curriculum Intro.gif`)" class="img-responsive" alt="img">
            </div>
          </div>
        </v-col>
        <v-col cols="12" sm="6" md="6" class="right-curriculum1">
          <p class="top-p">Beanstalk International Preschool has curated it’s PSA (PRIME-SPECIFIC-AUGMENTED) preschool curriculum over many years of research and practical implementation at our company owned schools before launching this nationwide. The roots of the PSA curriculum lies in the EYFS framework implemented in schools across UK. Based on the foundational principles of the EYFS, the PSA curriculum expands on several early childhood development domains which research shows, are critical in the Indian context. </p>

        </v-col>
    </v-row>
  </div>

    <div class="bg-prime-Specific">
    <v-row>
        <v-col cols="12" sm="8" md="8" class="bg-prime">
          <v-container class="prime">
            <p>Prime areas are fundamental, work together, and are move through to support development in all other
            areas. </p>
            <ul>
              <li>Personal, Social and Emotional Development</li>
              <li>Communication and Language</li>
              <li>Physical Development</li>
            </ul>
          </v-container>

        </v-col>
        <v-col cols="12" sm="4" md="4" class="bg-prime">

            <div>
              <img  :src="require(`@/assets/image/Prime Area.gif`)" class="img-responsive" alt="img">
            </div>

        </v-col>

        <v-col cols="12" sm="5" md="5" class="leftcurriculum">

            <div align="center">
              <img  :src="require(`@/assets/image/Specific Areas.gif`)" class="img-responsive" alt="img">
            </div>

        </v-col>
        <v-col cols="12" sm="7" md="7" class="rightcurriculum">
          <v-container class="prime">
            <p>Specific areas include essential skills and knowledge for children to participate successfully in society.</p>
            <ul>
              <li>Literacy</li>
              <li>Mathematics</li>
              <li>Understanding the World</li>
              <li>Expressive Arts and Design</li>
            </ul>
          </v-container>
        </v-col>
    </v-row>
  </div>
    <div class="">
    <v-row>
        <v-col cols="6" sm="6" md="6" class="left-AUGMENTED">
          <v-container class="prime">
            <p>AUGMENTED areas include supplementary skills for children to get sharper on new age competencies relevant for global citizens of tomorrow.</p>
            <ul>
              <li>Early Literacy</li>
              <li>Enhanced Cognition</li>
              <li>Whole Brain Development</li>
              <li>Physical Wellbeing</li>
              <li>Linguistic Versatility</li>
            </ul>
          </v-container>
        </v-col>
        <v-col cols="6" sm="6" md="6" class="right-AUGMENTED">
            <div class="circle2">
            <div class="iframe-area2">
              <img  :src="require(`@/assets/image/Augmented Areas.gif`)" class="img-responsive" alt="img">
            </div>
          </div>
        </v-col>
    </v-row>
  </div>

    <div class="bg-primeAreas">
    <div align="center" class="">
    <v-container>
          <p>The prime areas begin to develop quickly in response to relationships and experiences, and
      run through and support learning in all other areas. The prime areas continue to be fundamental
      throughout the EYFS.</p><br>
          <p>The specific areas include essential skills and knowledge. They grow out of the prime areas, and provide important contexts for learning.</p>
    </v-container> <br>
    <img  :src="require(`@/assets/image/prime-and-specific-area.gif`)" class="prime-and-specific-area" alt="img">
  </div>
    </div>

    <div class="parallax">
      <h3>THE PSA PROGRAMS</h3>
      <div align="center" class=" imageHover">
        <img  :src="require(`@/assets/image/WHEEL.png`)" class="img-responsive" alt="img">
      </div>
    </div>

    <div class="bg-curriculam-bellow">
      <div class="half-underline">
        <h3>THE AUGMENTED CURRICULUM</h3>
        <h4>TEENY BEANS</h4>
      </div>
      <span class="augmented-text"><p> The augmented curriculum of Teeny Beans has been painstakingly capturing several key parental insights. While our core curriculum takes care of every aspect of developmental input as required in early childhood education, our augmented curriculum goes much deeper into some aspects that are considered as critical from a parental perspective. The parental insights cut across geographies and cultures and are extremely relevant. So the key question is</p></span>
      <h3>What learning objectives do parents expect the school to deliver?</h3>
      <div class="animation-image">
        <v-row>
            <v-col align="center" cols="12" sm="12" md="12">
              <img  :src="require(`@/assets/image/slide2.jpeg`)" class="image-circle animated  fadeInLeftBig delay-3s" alt="img">
              <img  :src="require(`@/assets/image/slide2.jpeg`)" class="image-circle animated  fadeInLeftBig delay-1s" alt="img">
              <img  :src="require(`@/assets/image/slide2.jpeg`)" class="image-circle animated  fadeInRightBig delay-2s" alt="img">
              <img  :src="require(`@/assets/image/slide2.jpeg`)" class="image-circle animated  fadeInRightBig delay-4s" alt="img">
            </v-col>
        </v-row>
      </div>

      <div class="container">
        <div class="">
            <h3>Hand Writing</h3>
            <h4>Writo</h4>
            <span> <p>A comprehensive handwriting program for pre-schoolers and beyond. As opposed to traditional visual copy technique proposed through the 'trace and learn' method, Writo adopts the scientifically progressive directed or movement based learning that involves multiple sense organs to create lasting neural pathways.</p> </span>
          </div>

        <div class="">
            <h3>Brain Development</h3>
            <h4>Mini Max</h4>
            <span> <p>A whole brain developmental program aimed at developing whole brain thinkers very early in a child’s learning curve. Right brain activation from the preschooling age helps leverage the full potential of our brain. Minimax Abacus does that and more.</p> </span>
        </div>

        <div class="">
          <h3>English Communication</h3>
          <h4>Super Phonics</h4>
          <span> <p>A complete phonics curriculum for preschool, develops a strong foundation for reading and writing. It uses the synthetic phonics method of teaching the letter sounds in a way that is fun and multi-sensory. Children learn how to use the letter sounds to read and write words.</p> </span>
        </div>

        <div class="">
          <h3>Accelerated Cognitive Development</h3>
          <h4>Bonjour</h4>
          <span> <p>Children are natural language “sponges” and learn easily through repetition and play-not analysis. Evidence shows that early exposure to foreign languages helps develop nearnative pronunciation, raises test scores in all areas, helps children to develop a global view and cultural understanding, and allows for a longer sequence of study and higher levels of language proficiency.</p> </span>
        <br>  <span> <p>The Augmented Programs have been carefully curated through years of research by the Knowledge Academy at TBPC, are designed age-appropriately and are cutting edge in modern education. Miles ahead of any traditional preschool curriculum!</p> </span>
        </div>
      </div>


  </div>

</div>
</template>

<script>
export default {
    name:'curriculum1'
}
</script>
<style scoped>
span > p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3vh;
  text-align: justify;
}
.bg-primeAreas{
  /* background-color: #f0f7ef; */
  height: auto;
  width: 100%;
}
.prime-and-specific-area{
  width: 60%;
  height: 60%;
  padding-bottom: 50px;
}
.animation-image{
  padding-top: 50px;
  padding-bottom: 10px;
}
.image-circle{
  width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 2px solid white;
   padding: 5px 5px 5px 5px;

}
.augmented-text p{
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Montserrat', sans-serif;
}
.bg-curriculam-bellow{
  background: url("/img/augmented-bg.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 30px;
}
.half-underline{
    display: inline-block;
    position: relative;
    width: 100%;
}
.half-underline:before {
  content: ' ';
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 3px solid #fff;
}
h3{
  padding-top: 30px;
  text-align: center;
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
h4{
  text-align: center;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.areas img{
  width: 50%;
  height: 50%;
}
.imageHover img {
    padding-top: 30px;
    width: 30%;
    height: 30%;
    cursor: pointer;

  }
.imageHover{
 padding: 5px;
 transition: transform .2s;
 /* width: 200px;
 height: 200px; */
 margin: 0 auto;
}
.imageHover:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.parallax{
    width: 100%;
    height: 400px;
    background: url('/img/bannar-toddler11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.bg-curriculum{
    height: 500px;
    background: url('/img/bannar-toddler11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
.prime{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
h2{
    font-size: 7vh;
    font-family: 'Baskervville', serif;
    color: #ffa31a;
    text-align: center;
    padding-top: 200px
  }
.left-curriculum1{
      width: 100%;
      height: 500px;
      background: url('/img/Patterns (3).png');
      background-size: cover;
      background-position: left;
      position: relative;
      overflow: hidden;
    }
.right-curriculum1{
      background: url('/img/Patterns (3).png');
        height: 500px;
        width: 100%;
}
.left-AUGMENTED{
    background: url('/img/Patterns (2).png');
    height: 500px;
    width: 100%;
    }
.right-AUGMENTED{
    width: 100%;
    height: 500px;
    background: url('/img/Patterns (2).png');
    background-size: cover;
    background-position: left;
    position: relative;
    overflow: hidden;
    }
.circle{
      position: absolute;
      width: 850px;
      height: 800px;
      background: white;
      border-radius: 100%;
      margin-top: 20px;
      top: -120px;
      left: -190px;
      right: -200px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat
    }
.circle2{
      position: absolute;
      width: 850px;
      height: 800px;
      background: white;
      border-radius: 100%;
      margin-top: 20px;
      top: -120px;
      left: 20px;
      right: -100px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat
    }
p{
      font-size: 3vh;
      font-family: 'Montserrat', sans-serif;
      /* padding-left: 10px;
      padding-right: 10px;
      padding-top: 80px; */
}
.top-p{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
}
.iframe-area{
      margin-top: 200px;
      margin-left: 250px;
    }
.iframe-area2 img{
      margin-top: 200px;
      margin-left: 200px;
      height: 300px;
      width: 300px;
    }
ul{
      list-style-type: none;
      list-style-image: url('/img/listIcon.png');
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 30px;
      font-size: 3vh;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    }


@media only screen and (max-width: 600px) {
  .iframe-area img{
    max-width: 50%;
    max-height: 40%;
    margin-top: -70px;
    margin-left: -15px;
  }
  .iframe-area2 img{
    max-width: 50%;
    max-height: 40%;
    margin-top: -70px;
    margin-left: -15px;
  }
  .left-AUGMENTED{
    width: auto;
    height: auto;
  }
  .right-AUGMENTED{
    height: 300px;
  }
  .left-curriculum1{
    height: 300px;
  }
  .right-curriculum1{
    width: auto;
    height: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  p{
    font-size: 2vh;
  }
  .left-curriculum{
      width: 100%;
      height: 620px;
      background: url('/img/Patterns (3).png');
      background-size: cover;
      background-position: left;
      position: relative;
      overflow: hidden;

    }
    .circle{
      position: absolute;
      width: 710px;
      height: 800px;

      border-radius: 100%;
      margin-top: 20px;
      top: -120px;
      left: -190px;
      right: 100px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat
    }
    .right-curriculum1{
      background: url('/img/Patterns (3).png');
        height: auto;
        width: 100%;
    }
    .iframe-area img{
      height: auto;
      width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
        p{
          font-size: 24px;
          text-align: justify;
          padding-left: 10px;
          padding-right: 20px;
        }
        .left-curriculum1{
            width: 100%;
            height: 620px;
            background: url('/img/Patterns (3).png');
            background-size: cover;
            background-position: left;
            position: relative;
            overflow: hidden;

          }
          .circle{
            position: absolute;
            width: 710px;
            height: 800px;

            border-radius: 100%;
            margin-top: 20px;
            top: -120px;
            left: -190px;
            right: 100px;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat
          }
          .right-curriculum1{
            background: url('/img/Patterns (3).png');
              height: auto;
              width: 100%;
          }
          .iframe-area img{
            height: auto;
            width: 80%;
            padding-left: 30px;
            padding-top: 50px;
          }

    }

@media only screen and (min-width: 1200px) {
  p{
    font-size: 3vh;
  }

}

@media only screen and (max-width: 1366px) {
  /* p{
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 150px;
  } */
  .top-p{
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 150px;
  }
  .left-curriculum{
      width: 100%;
      height: 620px;
      background: url('/img/Patterns (3).png');
      background-size: cover;
      background-position: left;
      position: relative;
      overflow: hidden;

    }
    .circle{
      position: absolute;
      width: 800px;
      height: 800px;

      border-radius: 100%;
      margin-top: 20px;
      top: -120px;
      left: -190px;
      right: 100px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat
    }
    .right-curriculum1{
      background: url('/img/Patterns (3).png');
        height: auto;
        width: 100%;
    }
    .iframe-area img{
      height: auto;
      width: 80%;
      padding-left: 30px;
      padding-top: 50px;
    }

}

</style>
