<template>
  <div class="">
    <div class="bg-iimtt">

    </div>

    <div align="center" class="desktopMenu">
        <v-btn active='true' class=" active-bg" text to="/coursesOffered">Courses Offered</v-btn>
        <v-btn class="btn" text to="/internationalAccreditations"><span>INTERNATIONAL ACCREDITATIONS</span></v-btn>
        <v-btn class="btn" text to="/teacherTrainingCentre"><span>OUR TEACHER TRAINING CENTRE</span></v-btn>
        <v-btn class="btn" text to="/testimonials"><span>TESTIMONIALS</span></v-btn>
  </div>
  </div>
</template>

<script>
export default {
    name:'iimtt'
  }
</script>
<style scoped>
.bg-iimtt{
  width: 100%;
  height: 400px;
  background: url('/img/Our Programs - Teacher Training Card.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
</style>
