
<template>
  <div class="">
        <div class="header-bg">
          <img  :src="require(`@/assets/image/testi-logo.png`)" class="img-responsive" alt="img">
          <div class="float-sm-right">
            <div class="mtheader">
            <v-row justify="center">
              <v-dialog v-model="dialog" persistent max-width="590">
                <template v-slot:activator="{ on }">
                  <v-btn class="button-schedule" v-on="on">SCHEDULE A VISIT</v-btn>
                </template>
                <v-card class="form-bg">
                  <v-form  >
                    <v-container >
                        <v-row class="background-modal">

                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                              class="input-name"
                              label="Parent/Guardian's Name"
                              outlined
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                            class="input-name"
                              label="Mobile Number"
                              outlined
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                            class="input-name"
                              label="Email ID"
                              outlined
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                            class="input-name"
                              label="Child's Name"
                              outlined
                            ></v-text-field>
                          </v-col>


                          <v-col cols="12" sm="12" md="12">
                            <v-menu

                              ref="menu"
                              v-model="menu"
                              :close-on-content-click="false"
                              :return-value.sync="date"
                              transition="scale-transition"
                              offset-y
                              max-width="290px"
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="date"
                                  label="Date of Birth"
                                  outlined
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="date"
                                type="month"
                                :max="new Date().toISOString().substr(0, 10)"
                                no-title
                                scrollable
                              >
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                      </v-container>
                   </v-form>
                  <v-card-actions class="actions-height" >
                    <v-spacer></v-spacer>
                    <v-btn class="button-bg1" color="green darken-1" text @click="dialog = false">Cancel</v-btn>
                    <v-btn  class="button-bg2"color="green darken-1" text @click="dialog = false">Submit</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>
            <div data-app>
            </div>
          </div>
          </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm-6 col-md-6 left-testi">
              <div class="half-underline">
                <h2>Our Testimonial</h2>
              </div>
              <v-carousel
               cycle
               height="400"
               hide-delimiter-background
               hide-delimiters
               show-arrows-on-hover>
               <v-carousel-item
                 v-for="(item,i,j) in items"
                 :key="i"
                 reverse-transition="fade-transition"
                 transition="fade-transition"
               >
               <div class="testimonial-body text-center">
                 <div class="image-circle" align="center">
                  <img
                    :key="j"
                    :src="item.src"
                  >
                </div>
                  <h3>{{ item.name }}</h3>
                  <p>{{item.drescription}}</p>
                </div>
             </v-carousel-item>

             </v-carousel>
            </div>
            <div class="col-sm-6 col-md-6 right-bg-img">
              <div class="circle"></div>

            </div>
        </div>
  </div>
</template>

<script>

  export default {
      name:'calenderTestimonial',

      data () {
        return {
          // date: new Date().toISOString().substr(0, 7),
          date: null,
          menu: false,
          modal: false,
          dialog: false,

          items: [
            {

              name: 'Ankita Jaiswal (Pratishtha’s mom)',
              src: '/img/Ankita-Jaiswal-(Pratishtha’s-mom).jpg',
              drescription: ' One of the finest school kids in Kolkata, my daughter got admission in the school few months ago. I can see a lot of progress. Teachers are very kind & knowledgeable. They handle the students very carefully , not only does the school give importance to the preschool curriculum but the school is providing several augmented programs like yoga, art & craft, abacus which are very helpful for in these early years. Their teaching pattern is totally different from the other play school. I am pretty satisfied with the school.'
            },
            {

              name: 'Rinki Mondol (Oliya’s mom)',
              src: '/img/Rinki Mondol (Oliya’s mom).jpg',
              drescription: "Wonderful school for early years education. Very well trained teachers. For our little ones they are so caring, so loving. Lots of space and play equipments for students. They have a lots of interesting study aids like pictures, flashcards, so it’s way easier to understand for students. My experience with Beanstalk International Preschool is wonderful. I truly appreciate it."
            },
            {

              name: 'Twinkle Santosh Kar (Sayan’s mom)',
              src: '/img/Twinkle Santosh Kar (Sayan’s mom).jpg',
              drescription: 'Last August my son got admitted to Beanstalk International Preschool Baguiati. This preschool is the best in Kolkata. I have seen a lot of growth in my child. Teachers are very cooperative & kind. Their teaching process and activities are just amazing. I can highly recommend this to anyone looking for the best preschool in Baguiati to Kaikhali area.'
            },
            {

              name: 'Ankita  Karmakar ( Soutrik’s Mom )',
              src: '/img/Ankita  Karmakar ( Soutrik’s Mom ).jpg',
              drescription: "Lovely preschool in Jora Mandir with friendly staff. Everyone is so caring and my child love to go to there everyday. Please be like this don’t change ur loving & caring behavior!"
            },
            {
              name: 'Roma Dokania ( Deeyan’s mom)',
              src: '/img/Roma Dokania ( Deeyan’s mom).png',
              drescription: 'My son enjoys a lot in school. Teachers and staff both are very cooperative. They take care of kids like their own kids. I am very satisfied and happy.'
            },
            {
              name: 'Prerna Sharma ( Hrivan’s mom )',
              src: '/img/Prerna Sharma ( Hrivan’s mom ).png',
              drescription: "One of the best preschools in Kolkata. They have a large play area and lots of play equipments and learning aids to engage the kids meaningfully. The teacher’s pay equal attention to the every child's growth and development."
            },
            {
              name: 'Anuj Sharma (Father of Dhananjay)',
              src: '/img/Anuj Sharma (Father of Dhananjay).png',
              drescription: 'I am really happy to see my son playing, learning, enjoying the in his early years. The school and teachers know the development areas critical for kids and are actively working towards the same. Good school and great services offered. Really appreciate it.'
            },
            {
              name: 'Madhumita Samanta (Ayur’s mom)',
              src: '/img/Madhumita Samanta (Ayur’s mom).png',
              drescription: 'Best preschool in Baguiati. I am really happy to see my son is learning a lot day by day with different types of extracurricular activities. My son also enjoys being in his school just like his second home. Teachers and stuff are very cooperative. I recommend this school for other parents looking for the perfect preschool for their children.'
            },
            {
              name: 'Priti Chandak ( Alina’s mom)',
              src: '/img/Priti Chandak ( Alina’s mom).png',
              drescription: 'Beanstalk International Preschool Baguiati is the best for any kids education in early years. My daughter Alina studies in IK2 and she is learning something new thing every day. I like the environment and the teachers. I would like to recommend this school for all kids in Baguiati area. The best preschool for sure.'
            },
            {
              name: 'Joy Banerjee (Riyana”s Father)',
              src: '/img/Joy Banerjee (Riyana”s Father).jpg',
              drescription: 'My daughter really likes to go to school. The environment is very energetic there. Teachers are taking extra care to make sure children grow and develop as per benchmarked milestones in early years. I will definitely recommend this school to everyone.'
            }

          ],
        }
      },
  }
</script>

<style scoped>
.form-bg{
  border: 2px solid black;
}
/* .button-bg1{
  background-color: red;
  height: 50px;
}
.button-bg2{
  background-color: green;
  height: 50px;
} */

.header-bg{

  height: 150px;
  background: url('/img/testi-pattan-header.jpeg');
}
.image-circle img{
  width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 2px solid white;
   padding: 5px 5px 5px 5px;

}
.input-name {
  height: 40px !important
}

button{
    width: auto;
    height: auto;
    padding: 10px 30px 10px 30px;
    color:white;
    margin-right: 50px;
    margin-top: 50px;

    border-top-left-radius: 10%;

}
.right-bg-img{

    width: 100%;
    height: 500px;
    background: url('/img/testimonial-bg.webp');
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
  }
  .circle{
    position: absolute;
    width: 950px;
    height: 800px;
    background: url('/img/testimonial-cover.jpeg');
    border-radius: 100%;
    top: -50px;
    left: 3px;
    right: 100px;
  }
  .left-testi{
    background: url('/img/testimonial-bg.webp');
    height: 500px;
  }
.float-sm-right{
  float: right;
}
  .half-underline{
      display: inline-block;
      position: relative;
      width: 100%;
  }
  .half-underline:before {
    content: ' ';
    position: absolute;
    width: 7%;
    height: 1px;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 4px solid #fff;
}
h3{
  text-align: center;
  color: white;
  padding-top: 10px;
  font-size: 4vh;
  font-family: 'Baskervville', serif;
}
h2{
  text-align: center;
  padding-top: 10px;
  font-size: 5vh;
  font-family: 'Baskervville', serif;
}
  p{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-top: 10px;

  }
  .background-modal{
    padding-left: 30px;
    padding-right: 30px;
  }
  .testimonial-body{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }

  @media (min-width: 320px) {
    .right-bg-img{
      display: block;
    }
    img{
      height: 100px;
      width: 100px;
      padding-top: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    .right-bg-img{
      display: none;
    }

  }
  /* @media (min-width: 1024px) {
    h2{
      font-size: 2vw;
    }
    h3{
      font-size: 2vw;
    }
    p{
      font-size: 2vw;
    }
  } */
</style>
