<!-- <template>

    <v-date-picker v-model="picker" color="green lighten-1"></v-date-picker>

</template>
<script>
  export default {
    data () {
      return {
        picker: new Date().toISOString().substr(0, 10),
      }
    },
  }
</script> -->
