<template>
  <div class=" container-fluid">
        <div class="bg-location">
            <div class="row">
              <div class="col-sm-6 col-md-6 left-contain">
                  <h2>Our Location</h2>
                    <p>Beanstalk ILC is an internationally recognized early years learning institute set up across two premium locations in Kolkata with world class infrastructure delivering the preschool program for kids in Kolkata.

                        <br><br> Baguiati Centre (Jora Mandir)

                        <br> Over 3500 sq feet with large open play area and child friendly infrastructure.

                       <br> New Town (Axis Mall)

                       <br> An entire building dedicated to our little beans.
                    </p>
                    <div align="center" class="button_style">
                      <button type="button" class="btn">FIND OUT MORE</button>
                    </div>

              </div>

                <div align="center" class="col-sm-6 col-md-6 right-contain">
                  <img  :src="require(`@/assets/image/slide2.jpeg`)" class="img-responsive" alt="img">
                </div>
            </div>
        </div>
            <div class="image-contain">
                <div class="row">
                            <div align="right" class="col-sm-8 col-md-8 location-img1">
                                <img  :src="require(`@/assets/image/slider1.jpg`)" class="img-responsive" alt="img">
                            </div>
                            <div align="center" class="col-sm-4 col-md-4 location-img2">
                                <img  :src="require(`@/assets/image/slide2.jpeg`)" class="img-responsive" alt="img">
                            </div>
                </div>
            </div>


  </div>
</template>

<script>

export default {
    name:'ourLocation'
}

</script>

<style scoped>

.bg-location{
    background-color: #4b342c;
    height: auto;
    padding-bottom: 100px;
}
.left-contain{
    padding-top: 50px;
    text-align: justify;
    padding-left: 70px;
    padding-right: 30px;

}
h2{

  font-size: 5vh;
  font-family: 'Baskervville', serif;
    color: rgb(224, 165, 15);
}
p{
    padding-top: 30px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;

    font-weight: 550;
    padding-bottom: 30px;
}
button{
    width: auto;
    height: auto;
    background-color: rgb(224, 165, 15);
    border-radius: 30px;
    padding: 10px 10px 10px 10px;


}
.right-contain{
    padding-left: 40px;
    padding-top: 100px;
}
.right-contain img{
    height: 70%;
    margin-top: 60px;
    width: 55%;
    box-shadow: 0px 0px 0px 10px rgb(255, 251, 251);
}
.location-img1 img{
  align: center;
}
.location-img2{
    left: 0px;
}
.location-img1 img{
    height: 90%;
    margin-top: 60px;
    width: 44%;
    box-shadow: 0px 0px 0px 10px rgb(255, 251, 251);
}
.location-img2 img{
    height: 55%;
    margin-top: 60px;
    width: 40%;
    box-shadow: 0px 0px 0px 10px rgb(255, 251, 251);

}
.image-contain{
    margin-top:  -150px;
    height: 320px;
}
@media (min-width: 320px) {
  img{
    display: block;
  }
  .bg-location{
    height: 550px;
    background: url('/img/preschool-teacher-training.webp');
  }
  .image-contain{
    height: 120px;
  }
  h2{

      font-size: 7vh;

      text-align: center;
      color: rgb(224, 165, 15);
  }


}
@media (min-width: 768px) {
  .image-contain{
    padding-bottom: 320px;
  }
}
@media only screen and (max-width: 768px) {
  img{
    display: none;
  }
  .left-contain{
      padding-top: 50px;
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
  }
  /* .bg-location{
    height: 100px;
  } */


}

@media only screen and (max-width: 1024px) {
  .bg-location{
    height: auto;
  }
  .right-contain img{
      height: 50%;
      margin-top: 160px;
      width: 90%;
      box-shadow: 0px 0px 0px 10px rgb(255, 251, 251);
  }
}
/* .location-img img{
    height: 200px;
    margin-top: 60px;
    width: 50%;
    box-shadow: 0px 0px 0px 10px rgb(223, 216, 216);
}
.location-img1 img{
    height: 300px;
    margin-left: -100px;
    margin-top: 60px;
    width: 90%;
    box-shadow: 0px 0px 0px 10px rgb(223, 216, 216);
    flex: 1;
}
.location-img2 img{
    height: 200px;
    margin-left: -20px;
    margin-top: 60px;
    width: 90%;
    box-shadow: 0px 0px 0px 10px rgb(223, 216, 216);
    flex: 1;
}
.wrapper-img{
    display: flex;
    margin-left: 50%;
    margin-bottom: 40px;
}
.testimonial-bg{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 1400px;
    background:rgb(2, 162, 255);
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.384);
    display: flex;
} */


</style>
