<template>
   <div class="container-fluid">
      <div>
        <div class="">
           <div class="contain1">

             <h2>Integrated Learning Centre</h2>
           </div>
           <div class="row contain2">
                 <div class="row">
                    <div align="center" class="col-sm-4 col-md-4 col-xl-4">
                       <img  :src="require(`@/assets/image/Beanstalk-International-Preschool.png`)" class=" animated fadeInLeftBig delay-1s" alt="avatar">
                       <h3> Beanstalk International Preschool </h3>
                       <p>Our international preschool solution offering world class education to preschoolers in India. Follows the British curriculum and our core curriculum is based on the early years foundation stage (EYFS) framework.</p>
                    </div>
                    <div align="center" class="col-sm-4 col-md-4 col-xl-4">
                       <img  :src="require(`@/assets/image/International-Institute-Of-Montessori-Teacher-Training.png`)"  alt="avatar">
                       <h3>International Institute Of Montessori Teacher Training</h3>
                       <p>IIMTT offers international teaching diploma for aspiring teachers. Internationally recognized and running successfully through a pan-India franchisee network and internationally as well. </p>
                    </div>
                    <div align="center" class="col-sm-4 col-md-4 col-xl-4">
                       <img  :src="require(`@/assets/image/Beanstalk-Kids-Afterschool.png`)" alt="avatar">
                       <h3>Beanstalk Kids Afterschool </h3>
                       <p>We offer a range of excellent co-curricular programs targeting early literacy and communication, handwriting development whole brain development and speed mathematics.</p>
                    </div>
                 </div>
           </div>
       </div>
      </div>

   </div>
</template>
<script>
export default {
name: 'ourSolution'
}
</script>
<style scoped>
.contain1{
  background: url('/img/how-are-different-bg-image.jpg');

  min-height: 330px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain2{
   margin-top: -150px;

}

h2{
   color: #ff5c33;
   font-size: 5vh;
   padding-top: 10px;
   text-align: center;
   font-family: 'Baskervville', serif;
   /* background-color: blue; */

}
span{
   font-size: 5vh;
   color: brown;
   font-family: 'Montserrat', sans-serif;
   text-align: center;

}
h3{
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #ff5c33;

}
 p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3vh;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
</style>
