<template>
    <div class="container-fluid">
      <div class="hight-contain">
        <div class="row">
            <div class="col-sm-6 col-md-6 left-preschool-teacher">
                <div class="circle">
                  <!-- <img  :src="require(`@/assets/image/1-removebg-preview.png`)" alt="avatar"> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 right-preschool-teacher">
                <div class="header-title half-underline ">
                    <h2 class="text-center"> <span class="prscl"> Preschool. </span><span class="tchr"> Teacher Training. </span><span class="aftrscl"> Afterschool.</span> </h2>
                </div>
                <div class=" preschool-section">
                    <p>These are three verticals of an integrated learning centre (ILC). More importantly though, the academic program at an ILC is also carefully interwoven – the toddlers curriculum rolls up to a preschool program which in turn merges seamlessly with the afterschool program.</p>
                </div>
            </div>
        </div>
      </div>

    </div>

</template>
<script>


export default {
    name:'preschoolTeacher'
}
</script>


<style scoped>

.left-preschool-teacher{
    width: 100%;
    height: 500px;
    background: url('/img/blc-video-bg.webp');
    background-size: cover;
    background-position: left;
    position: relative;
    overflow: hidden;

  }
  .circle{
    position: absolute;
    width: 750px;
    height: 800px;
    background:#f3f8f1;
    border-radius: 100%;
    margin-top: 20px;
    top: -120px;
    left: -190px;
    right: -200px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat
  }
  .right-preschool-teacher{
    background: url('/img/blc-video-bg.webp');
      height: 500px;
      width: 100%;
  }
  .header-title {
      text-align: center;
      padding-top: 50px;
  }
  h2{
      font-size: 5vh;
      font-family: 'Baskervville', serif;
      text-align: center;

  }
  p{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }
  .half-underline{
      display: inline-block;
      position: relative;
      width: 100%;
  }
  .half-underline:before {
    content: ' ';
    position: absolute;
    width: 7%;
    height: 1px;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 4px solid #fff;
}
.prscl{
    color: red;
}
.aftrscl{
    color: rgb(224, 165, 15);
}
.preschool-section > p {

    font-size: 3vh;
    text-align:center;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 40px;
    color: #f3f8f1;
}


@media only screen and (max-width: 768px) {
    /* .right-preschool-teacher{} */
}
</style>
