<template>
  <div class="container-fluid ">
    <div class="slider">
      <v-carousel
       cycle
       height="600px"
       hide-delimiter-background
       show-arrows-on-hover>
       <v-carousel-item
         v-for="(item,i) in items"
         :key="i"
         :src="item.src"

       ></v-carousel-item>
     </v-carousel>
    </div>



  </div>
</template>

<script>
export default {
    name: 'sliderSection',
    data () {
      return {
        items: [
          {
            src: '/img/s1.jpg',
          },
          {
            src: '/img/s2.jpg',
          },
          {
            src: '/img/s3.jpg',
          }

        ],
      }
    },
}
</script>

<style scoped>
.slider{
  margin-bottom: 10px;
}
  @media (min-width: 320px) {
    v-carousel{
      height: 10px;
    }
  }
</style>
