<template>
    <div class="container-fluid bg-container">
        <div class="container">
            <!-- <div class="row"> -->
                <div  align="center" class=" ">
                    <h2 class="text-center">Beanstalk ILC Videos</h2>
                    <div class="ilc-video">
                      <v-carousel
                      cycle
                      height="310"

                      show-arrows-on-hover
                      >
                        <v-carousel-item
                        class="mobile-carousel"
                          v-for="(item,i) in items"
                          :key="i"
                          v-html="item.contain"
                        ></v-carousel-item>
                      </v-carousel>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-md-6 mobile-view">
                    <h2 class="text-center">Beanstalk Update</h2>
                    <div class="update-text-bg">
                        <p>
                            Beanstalk preschool comming soon at Baguhati Jora Mondir
                        </p>
                        <span><small>7th Nov. 2019</small></span>
                        <hr>
                        <p>
                            Beanstalk preschool comming soon at Baguhati Jora Mondir
                        </p>
                        <span><small>7th Nov. 2019</small></span>
                        <hr>
                        <p>
                            Beanstalk preschool comming soon at Baguhati Jora Mondir
                        </p>
                        <span><small>7th Nov. 2019</small></span>
                        <hr>
                        <p>
                            Beanstalk preschool comming soon at Baguhati Jora Mondir
                        </p>
                        <span><small>7th Nov. 2019</small></span>
                        <hr>
                    </div>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
export default {
  name: 'videoUpdate',
  data () {
    return {
      items: [
        {
          contain: '<iframe width="560" height="315" src="https://www.youtube.com/embed/gE06Q9JTefY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
        },
        {
          contain: '<<iframe width="560" height="315" src="https://www.youtube.com/embed/yip5ZoC_Z8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
        },
        {
          contain: '<iframe width="560" height="315" src="https://www.youtube.com/embed/9gOiqGLixnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
        },
        {
          contain: '<iframe width="560" height="315" src="https://www.youtube.com/embed/V2O62JQ2NLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
        },
        {
          contain: '<iframe width="560" height="315" src="https://www.youtube.com/embed/Aaj2JxNbUxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
        }
      ],
    }
  },
}
</script>
<style scoped>
.bg-container{
    background-color: #f0f7ef;
    height: 500px;
}
h2{
    color: #61ab46;

    text-align: center;
    padding-bottom: 10px;
    font-family: 'Baskervville', serif;
}
.update-text-bg{
    background: url('/img/preschool-teacher-training.webp');
    height: 300px;

}
p{
    padding-left: 30px;
    padding-right: 30px;
    color: #f0f7ef;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-top: 10px;
}
small{
    padding-left: 30px;
    padding-right: 30px;
    color: #daf8d6;
    font-size: 2vh;
}

@media (min-width: 320px) {

  .bg-container{
    height: auto;
  }
  .update-text-bg{
    height: auto;
  }
  .ilc-video{
  display: block;
  max-width: 500px;
  }
  h2{
    font-size: 5vh;
  }

}
/* @media (max-width: 768px) {
  .ilc-video{
  display: block;
  }
} */
@media only screen and (max-width: 768px) {
  .ilc-video{
  display: none;
  }
}
</style>
