<template>
  <div class="container-fluid parallax">
    <div class="container ">
      <h2>How are we different?
        <i class="material-icons">
          arrow_downward
        </i></h2>

            <div class="row">
              <div class="col-sm-6 col-md-6 col-xl-6">
                <h3>
                  <i class="material-icons i_style">
                      toys
                  </i>
                  International Accreditations
                </h3>
                <p>
                    We’ve built an international brand with pedagogic support of the best early childhood educational organizations in USA and UK.
                </p>

              </div>
              <div class="col-sm-6 col-md-6 col-xl-6">
                <h3> <i class="material-icons i_style">
                      how_to_reg
                    </i> Quality
                  </h3>
                <p>
                    We are experts in the field of early childhood education. We pride ourselves in the programs we’ve created and the impact we’ve had on children for a decade.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-xl-6">
                  <h3> <i class="material-icons i_style">
                          score
                        </i> Infrastructure
                  </h3>
                  <p>
                      Your child is special. And so should be his preschool. Our abundantly spacious and scientifically designed learning spaces is a testimony to our commitment towards providing unparalleled infrastructure to preschoolers.
                  </p>

                </div>
                <div class="col-sm-6 col-md-6 col-xl-6">
                  <h3> <i class="material-icons i_style">
                          device_hub
                        </i> Pegagogy
                  </h3>
                  <p>
                      We have invested deeply into developing pedagogic content that is strongly differentiated and extremely effective. As service providers in this space, it is an area which we specialize in. And our kids benefit from it.
                  </p>
                </div>
            </div>
            </div>
  </div>
</template>

<script>
export default {
name: 'weDifferent'
}
</script>

<style scoped>
.parallax {
  background: url('/img/how-are-different-bg-image.jpg');
  /* background-color: #f0f7ef; */
  min-height: 330px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2{

  padding-top: 20px;
  /* margin-left: 320px; */
  text-align: center;
  font-size: 5vh;
  font-family: 'Baskervville', serif;
  color: #ff9933;
}


h3{
  padding-top: 30px;
  text-align: center;
  font-size: 4vh;
  color: red;
  font-family: 'Montserrat', sans-serif;
}
p{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-weight: 550;

}
img{
  padding-top: 30px;
}
.i_style{
  width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid red;
    padding: 5px 5px 5px 5px;
}
@media (min-width: 320px) {

  h2{
    text-align: center;
    font-size: 7vh;
  }
  p{
    padding-top: 5px;
    padding-bottom: 10px;
  }

}

</style>
