<template>
  <div class="container-fluid bgc2">
    <div class="container">

      <div class="row container">
        <div class="col-sm-4 col-md-4 image-zoom">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color1 card"
          >
            <v-card-subtitle class="pb-0">
              <div class="p">
                <h2>Lectures with AV-Support</h2>
                <ul>
                  <li>Globally valued Montessori Diploma Course</li>
                  <li>Only Course Nationally with audio video class support & practical video library</li>
                  <li>Most recognized Montessori Course in India – highly advantageous upon relocation nationally</li>
                </ul>
              </div>
            </v-card-subtitle>

            <div class="overlay">
              <v-img
                class=""
                height="400px"
                src="/img/c1.jpg"
              >
            </v-img>
            </div>

          </v-card>
        </div>
        <div class="col-sm-4 col-md-4 image-zoom">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color2 card"
          >


            <v-card-subtitle class="pb-0">
              <div class="p">
                <h2>Art & Craft Assignments</h2>
                <ul>
                  <li>International Affiliations & Accreditations</li>
                  <li>Extremely robust curriculum focussed on Montessori and Nursery Teacher Training</li>
                  <li>Only truly Practical Oriented Course with Live in-classroom training with kids</li>
                </ul>
              </div>

            </v-card-subtitle>

            <div class="overlay">
              <v-img
                class=""
                height="400px"
                src="/img/s2.jpg"
              >
            </v-img>
            </div>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4 image-zoom">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color3 card"
          >

            <v-card-subtitle class="pb-0">
              <div class="p">
                <h2>Certificate Distribution</h2>
                <ul>
                  <li>Detailed Practical Orientation with Online Montessori Teacher Training Testing Platform</li>
                  <li>Convenient Batches for Working Women</li>
                  <li>Dedicated Job Portal & 100% Placement Assistance</li>
                </ul>
              </div>

            </v-card-subtitle>

            <div class="overlay">
              <v-img
                class=""
                height="400px"
                src="/img/s2.jpg"
              >
            </v-img>
            </div>
          </v-card>
        </div>
      </div>
    </div>

    <div class="">
      <h3>Gallery</h3>
      <div class="container-fluid">
        <v-carousel
          cycle
          height="400"
          hide-delimiter-background
          show-arrows-on-hover
        >
          <v-carousel-item
            v-for="(item, i) in items"
            :key="i"
            :src="item.src"

          >

            <div> <h2 class="h2-title-color">{{ item.title }}</h2></div>


          </v-carousel-item>
        </v-carousel>
      </div>
    </div>

    <div class="container">
      <h4>“Admissions We don’t just prepare our students for formal <a href="#"> schools</a>. We prepare them for life!. We groom our students and prepare them well for the next step in their career. Below is a list of some of the schools into which our alumni have been selected.”</h4>
      <h2>HIGH SCHOOL PLACEMENTS</h2>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color1"
          >
            <v-card-subtitle class="pb-0">
              <div class="p">
                <h2>2015-16</h2>
                <ul class="year-ul">
                  <li>Blooming Buds</li>
                  <li>Bubble Blue</li>
                  <li>DPS North Kolkata</li>
                  <li>Edify Kids Baguiati</li>
                  <li>Edify Kids Salt Lake</li>
                  <li>EL Bethal Academy, East Sikkim</li>
                  <li>Genius Kids</li>
                  <li>Little Champs, Shapoorjee</li>
                  <li>Little Laureates</li>
                  <li>Little Millennium</li>
                  <li>Narayana School(New Town)</li>
                  <li>Narayana School(Salt Lake)</li>
                  <li>New Town School</li>
                  <li>Techno India Public School Ariadaha</li>
                  <li>Tree House Baguiati</li>
                </ul>
                <p> <a href="#">and many more…</a> </p>
              </div>
            </v-card-subtitle>


          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color2"
          >


            <v-card-subtitle class="pb-0">
              <div class="p">
                <h2>2016-17</h2>

                  <ul class="year-ul">
                    <li>Adamas International School</li>
                    <li>Beanstalk International Preschool</li>
                    <li>Bubble Blue</li>
                    <li>Cambridge Public School Bangalore</li>
                    <li>Cognizant (Teaching faculty)</li>
                    <li>DCV Convent School, Varanasi</li>
                    <li>Greenfield School</li>
                    <li>Little Champs, New Town</li>
                    <li>Little Scholar, Kaikhali</li>
                    <li>North Avenue Heritage School</li>
                    <li>Vaishno Devi Academy High School</li>
                    <li>Xbrite Institute</li>

                  </ul>
                  <p> <a href="#">and many more…</a> </p>

              </div>

            </v-card-subtitle>

          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border bg-color3"
          >

            <v-card-subtitle class="pb-0">
              <div class="p">
                <h2>2017-18</h2>
                <ul class="year-ul">
                  <li>Cambridge Public School Bangalore</li>
                  <li>Cognizant (Teaching faculty)</li>
                  <li>DCV Convent School, Varanasi</li>
                  <li>Greenfield School</li>
                  <li>Little Scholar, Kaikhali</li>
                  <li>EL Bethal Academy, East Sikkim</li>
                  <li>Genius Kids</li>

                </ul>
                <p> <a href="#">Little Champs, Shapoorjeeand many more…</a> </p>
              </div>

            </v-card-subtitle>
          </v-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:'centres2',
    data () {
      return {
        items: [
          {
            src: '/img/centre1.jpg',
            title: "In Class Practical Demonstrations and Evaluations",
          },
          {
            src: '/img/centre2.jpg',
            title: "In-Class Rhyme, Story Telling and Drama Demonstrations",
          },
          {
            src: '/img/centre2.jpg',
            title: "In-Class Craft Demonstrations with Certificate Distribution",
          },

        ],
      }
    },
}
</script>
<style scoped>
.image-zoom{
  position: relative;
  width: 50%;
}
.card{
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.image-zoom:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.bgc2{
  background-color: #f0f7ef;
}
h2{
  font-size: 4vh;
  font-family: 'Baskervville', serif;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
h3{
  font-size: 4vh;
  font-family: 'Baskervville', serif;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
h4{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

ul{
    list-style-type: none;
    list-style-image: url('/img/listIcon.png');
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .year-ul{
    list-style-type: none;
    list-style-image: url('/img/listIcon.png');
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  a{
    text-decoration: none;
    font-size: 3vh;
  }
  p{
    text-align: center;
  }


</style>
