<template>
  <div class="">
    <div class="bg-afterschool">

    </div>

    <div align="center" class="tab">
        <v-btn class="btn" text to="/montessori-teacher-training-courses"><span>Courses Offered</span></v-btn>
        <v-btn class="btn" text to="/international-accreditations"><span>INTERNATIONAL ACCREDITATIONS</span></v-btn>
        <v-btn class="active-bg" text to="/teacher-training-centre">OUR TEACHER TRAINING CENTRE</v-btn>
        <v-btn class="btn" text to="/testimonials-reviews"><span>TESTIMONIALS</span></v-btn>
  </div>

  <div class="heading-bg">

    <div class="bg-overlay"></div>
    <div class="bg-text">
      <h2 class="h2-top-heading">OUR TEACHER TRAINING CENTRE</h2>
    </div>
  </div>

  </div>
</template>
<script>

export default {
    name:'teacherTrainingCentre'
}

</script>
<style scoped>
.tab{
  padding-bottom: 5px;
  padding-top: 5px;
}
.bg-afterschool{
  width: 100%;
  height: 300px;
  background: url('/img/yle.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
p{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
  h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .heading-bg{
    background: #000 url('/img/happy-teacher-with-students-background_1098-2917.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .h2-top-heading {
    font-size: 10vh;
    font-family: 'Baskervville', serif;
    text-shadow: 5px 2px #ff9900;
  }
  .bg-overlay{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    position: absolute;
  }
  .bg-text{
    z-index: 1;
  }
  @media only screen and (max-width: 768px) {
    .tab {
      width: 90%;
    }
    .h2-top-heading {
      font-size: 5vh;
    }
    span{
      color: gray;
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
    }
    .active-bg{
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
      color: white;
    }
  }
</style>
