<template>
  <div class="container-fluid mainFooter">
      <div class="container">Footer
      </div>
  </div>
</template>
<script>
export default {
    name:'AppFooter'
}
</script>
<style scoped>
.mainFooter{
    font-size: 16px;
    background: #2b2b2b;
    padding: 1em 0;
    z-index: 0;
    color: white;
}
</style>
