<template>
  <div>
        <div class="fixed-nav-top">
             <template class="mobile-menu" v-if="$vuetify.breakpoint.xsOnly">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            </template>
            <v-row >
              <v-col align="center" cols="12" sm="4" xs="4" md="4" v-if="$vuetify.breakpoint.smAndUp">
                  <!-- <h2>+91 97483 86431</h2> -->
              </v-col>
              <v-col cols="12" sm="4" xs="4" md="4">
                  <v-row>
                      <v-col cols="4" xl="4" md="4" sm="4">
                      </v-col>
                       <v-col cols="8" xl="8" md="8" sm="8">
                            <div class="logo">
                            <a href="/"><img :src="require(`@/assets/b.png`)"  alt="Logo"></a>
                        </div>
                      </v-col>
                  </v-row>
              </v-col>
              <v-col align="center" cols="12" sm="4" xs="4" md="4" v-if="$vuetify.breakpoint.smAndUp">
                  <!-- <v-btn>Enquire Now</v-btn> -->
              </v-col>
          </v-row>

        </div>


        <div class="fixed-top" v-if="$vuetify.breakpoint.smAndUp">
          <v-toolbar flat>

            <v-toolbar-items>
                <v-btn text to="/">Home</v-btn>
                <v-btn text to="/about">About Beanstalk</v-btn>
                <v-menu open-on-hover buttom offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      text
                      v-on="on"
                      @click="gotoRoute('/ourPrograms')"
                    >
                    Our Program
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(menuList, index) in menuLists"
                      :key="index"
                      @click="gotoRoute(menuList.link)"
                    >
                      <v-list-item-title class="listColor">{{ menuList.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
            </v-toolbar-items>

            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn text to="/curriculum">Curriculam</v-btn>
                <v-btn text to="/centres">Centre</v-btn>
                <v-btn text to="/contact">Contact Us</v-btn>
            </v-toolbar-items>


          </v-toolbar>
        </div>

            <div>
                <v-navigation-drawer
                    v-model="drawer"
                    absolute
                    temporary
                    >
                    <v-list-item>
                        <v-list-item-avatar>
                        <v-img src="/img/ilc-icon.png"></v-img>
                        </v-list-item-avatar>

                        <v-list-item-content>
                        <v-list-item-title> <h2>Beanstalk ILC</h2></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-divider></v-divider>

                    <v-list dense>

                        <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        @click="gotoRoute(item.link)"
                        >
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    </v-navigation-drawer>
            </div>

        </div>

</template>

<script>


export default {
    name:'AppHeader',
    data () {
      return {
        drawer: false,
        menu: false,
        dialog: false,
        items: [
          { title: 'Home', icon: 'dashboard', link:'/' },
          { title: 'About Beanstalk', icon: 'question_answer', link:'/about'},
          { title: 'Our Program', icon: 'dashboard', link:'/ourPrograms'},
          { title: 'Curriculam', icon: 'question_answer', link:'/curriculum'},
          { title: 'Centre', icon: 'dashboard', link:'/centres'},
          { title: 'Contact Us', icon: 'question_answer', link:'/contact'},
        ],
        menuLists: [
          { title: 'Beanstalk International Preschool', link: "/beanstalkInternationalPreschool" },
          { title: 'Beanstalk Afterschool', link: "/beanstalkAfterschool" },
          { title: 'IIMTT', link: "/coursesOffered" },
        ]
      }
    },
    methods:{
        toggleDrawer(){
            console.log(this.drawer);
            this.drawer = !this.drawer;
        },
        gotoRoute(link){
            this.drawer = !this.drawer;
            this.$router.push({
                path: link
            })
        }
    }
}
</script>

<style scoped>

    .fixed-top{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1;
        top: 40px;
        /* padding-bottom: 500px; */
    }
    .mobile-menu{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    .fixed-nav-top{
        position: fixed;
        width: 100%;
        height: 40px;
        margin: 0px;
        background: white;
        z-index: 2;
    }
    .logo img{
        border-radius: 50%;
        height: 120px;
        width: 120px;
        background: white;
        padding: 10px;

    }
    .logo{
        padding: 10px;
        position: absolute;
        top: -6px;
        /* margin-left: 10%; */

    }

  @media only screen and (max-width: 900px) {
   .logo img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: white;
        padding: 5px;
    }
    .logo{
        position: fixed;
        width: 100%;
        max-width: 0px;
    }
        .fixed-nav-top{
        position: fixed;
        width: 100%;
        height: 60px;
        margin: 0px;
        background: white;
        z-index: 2;

    }
     .fixed-top{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1;
        top: 60px;
    }
}

  @media only screen and (max-width: 1024px) {
   .logo img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background: white;
        padding: 5px;
    }
    .logo{
        position: fixed;
        width: 100%;
        max-width: 0px;
    }
        .fixed-nav-top{
        position: fixed;
        width: 100%;
        height: 60px;
        margin: 0px;
        background: white;
        z-index: 2;

    }
     .fixed-top{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1;
        top: 60px;
    }
}
</style>
