<template>
  <fixed-header :threshold="100">
    <div class="navbar">
      <div class="fixed-top" v-if="$vuetify.breakpoint.smAndUp">
        <v-toolbar flat>

          <v-toolbar-items>
              <v-btn text to="/">Home</v-btn>
              <v-btn text to="/about">About Beanstalk</v-btn>
              <v-menu open-on-hover buttom offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn
                    text
                    v-on="on"
                    @click="gotoRoute('/ourPrograms')"
                  >
                  Our Program
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(menuList, index) in menuLists"
                    :key="index"
                    @click="gotoRoute(menuList.link)"
                  >
                    <v-list-item-title class="listColor">{{ menuList.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
          </v-toolbar-items>

          <v-spacer></v-spacer>

          <v-toolbar-items>
              <v-btn text to="/curriculum">Curriculam</v-btn>
              <v-btn text to="/centres">Centre</v-btn>
              <v-btn text to="/contact">Contact Us</v-btn>
          </v-toolbar-items>


        </v-toolbar>
      </div>

          <div>
              <v-navigation-drawer
                  v-model="drawer"
                  absolute
                  temporary
                  >
                  <v-list-item>
                      <v-list-item-avatar>
                      <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                      </v-list-item-avatar>

                      <v-list-item-content>
                      <v-list-item-title> <h2>Beanstalk ILC</h2></v-list-item-title>
                      </v-list-item-content>
                  </v-list-item>

                  <v-divider></v-divider>

                  <v-list dense>

                      <v-list-item
                      v-for="item in items"
                      :key="item.title"
                      link
                      >
                      <v-list-item-icon>
                          <v-icon>{{ item.icon }}</v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                          <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item-content>
                      </v-list-item>
                  </v-list>
                  </v-navigation-drawer>
          </div>

    </div>
  </fixed-header>
</template>

<script>
import FixedHeader from 'vue-fixed-header'

export default {
    name:'AppHeader',
  components: {
    FixedHeader
  }
}
</script>

<style>
.navbar.vue-fixed-header--isFixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}
</style>
