<template>
    <section>
    <fixed-header :threshold="150">
        <div class="navbar">
            <nuxt-link to='/'>
            <div class="logo">
                <!-- <img :src="require(`@/assets/beanstalk.gif`)" alt="Logo"> -->
                <img :src="require(`@/assets/b.png`)" alt="Logo">
            </div>
            </nuxt-link>

            <div class="mobileMenu">
                <i @click="toggleDrawer" class="material-icons menuIcon">menu</i>
            </div>
            <div class="desktopMenu">
              <div
              v-for="item in items"
              :key="item.title"
              @click="followLink(item.link)"
              >
                  <span class="nav-item">{{ item.title }}</span>
              </div>
                <!-- <nuxt-link to='/'>
                    <span class="nav-item">Home</span>
                </nuxt-link>
                <nuxt-link to='/about'>
                    <span class="nav-item">About</span>
                </nuxt-link>
                <nuxt-link to='/Preschool-in-kolkata'>
                    <span class="nav-item">Business Verticals</span>
                </nuxt-link>
                <nuxt-link to='/contact'>
                    <span class="nav-item">Contact</span>
                </nuxt-link> -->
            </div>
        </div>

    </fixed-header>

   <div>
        <v-overlay :value="drawer">
        <v-btn icon @click="toggleDrawer" >
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <hr>
        <ul>
            <li
                v-for="item in items"
                :key="item.title"
                @click="gotoRoute(item.link)"
                class="mobileMenu"
                >
                {{ item.title }}

            </li>
        </ul>

        </v-overlay>
    </div>
    <!-- <v-navigation-drawer
        v-model="drawer"
        :fixed="true"

        >

       <div class="sideLogo">
            <img class="img1" :src="require(`@/assets/icon.png`)" alt="ICON">
            <img class="img2" :src="require(`@/assets/beanstalk.gif`)" alt="Logo">
       </div>

        <v-divider></v-divider>
        <v-list>
            <v-list-item
                v-for="item in items"
                :key="item.title"
                @click="gotoRoute(item.link)"
                >
                {{ item.title }}

            </v-list-item>
        </v-list>
    </v-navigation-drawer>
    -->

    </section>





</template>

<script>
import FixedHeader from 'vue-fixed-header'

export default {
    name:'AppHeader',
    components: {
      FixedHeader
    },
     data () {
      return {
        isFixed:false,
        drawer: false,
        items: [
          { title: 'Home', icon: 'dashboard', link: "/"  },
          { title: 'About', icon: 'dashboard', link: "/about"  },
          { title: 'Our Program', icon: 'dashboard', link: "/ilc-programs"  },
          { title: 'Curriculum', icon: 'dashboard', link: "/preschool-curriculum"  },
          { title: 'Centres', icon: 'dashboard', link: "/preschool-centres"  },
          { title: 'Contact', icon: 'dashboard', link: "/contact"  },

        ],
      }
    },
    methods:{
        toggleDrawer(){
            console.log(this.drawer);
            this.drawer = !this.drawer;
        },
        followLink(link){
          this.$router.push({
              path: link
          })
        },
        gotoRoute(link){
            this.drawer = !this.drawer;
            this.$router.push({
                path: link
            })
        }
    }
}
</script>

<style scoped>
/*MOBILE SIDENAV */
.mobileMenu{
    padding: 0.3em 1em;
    font-size: large;
    font-weight: bold;
}
.sideLogo{
   display: flex;
   align-items: center;
}
.sideLogo>.img1{
    height: 5em;
}
.sideLogo>.img2{
    height: 3em;
}
.v-divider{
    margin-bottom: 0;
}
.v-list{
    padding: 0;
}
/*MOBILE SIDENAV*/

.navbar{
    padding: 0.3em 10em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navbar.vue-fixed-header--isFixed {
  position: fixed!important;
  top: 0;
  z-index: 10!important;
  background: white;
  color: #1d9a15;
  width: 100%;
  border-bottom: 3px solid yellowgreen;
}
.icon{
    display: none;
}
.navbar.vue-fixed-header--isFixed>.logo{
    display: none;
}
.navbar.vue-fixed-header--isFixed>.icon{
    display: block;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a{
   color: #0a2c4e!important;
}
.nav-item{
    margin: 0 0.5em;
    padding: 0.75em;
    border-radius: 6px;
    font-weight: bold;
}
.nav-item:hover{
    color: white!important;
    background: yellowgreen!important;
    font-weight: bold;
}
.nav-item:hover{
    text-decoration: none;
    background: #216d01;
    cursor: pointer;
}

.logo{
    height: 4em;
    background: rgba(96,142,98,0.61176);
    border-radius: 10em;
}
.icon{
    height: 6em;
}
.logo>img{
    height: 100%;
}
.icon>img{
    height: 100%;
}
a:hover{
    text-decoration: none;
}
.mobileMenu:hover{
    cursor: pointer;
}
.v-list-item{
    border-bottom: 2px solid #718664;
    padding: 0.5em 1em;
    font-weight: bold;
    background: rgb(243, 243, 243);
}
.desktopMenu > div{
    float:left;
}
@media only screen and (max-width: 768px) {
    .desktopMenu{
        display: none;
    }
    .navbar{
       padding:0.5em 1em;
    }
    .icon{
        height: 4em;
    }
    .mobileMenu{
        display: block;
    }
}
@media (min-width: 769px) {
    .mobileMenu{
        display: none;
    }
}

</style>
