<!-- <template>
  <div class="mainHeader">
    <fixed-header :threshold="150">
        <div class="navbar">
            <nuxt-link to='/'>
            <div class="logo">
                <img :src="require(`@/assets/b.png`)" alt="Logo">
            </div>
            </nuxt-link>
            <div class="mobileMenu">
                <i @click="toggleDrawer" class="material-icons menuIcon">menu</i>
            </div>
            <div class="desktopMenu">
                <nuxt-link to='/'>
                    <span class="nav-item">Home</span>
                </nuxt-link>
                <nuxt-link to='/about'>
                    <span class="nav-item">About Beanstalk ILC</span>
                </nuxt-link>
                <nuxt-link to='/programs'>
                    <span class="nav-item">Our Programs</span>
                </nuxt-link>
                <nuxt-link to='/curriculum'>
                    <span class="nav-item">Curriculum</span>
                </nuxt-link>
                <nuxt-link to='/centres'>
                    <span class="nav-item">Centres</span>
                </nuxt-link>
                <nuxt-link to='/others'>
                    <span class="nav-item">Other Link</span>
                </nuxt-link>
                <nuxt-link to='/contact'>
                    <span class="nav-item">Contact</span>
                </nuxt-link>
            </div>
        </div>

    </fixed-header>

   <div>
        <v-overlay :value="drawer">
        <v-btn icon @click="toggleDrawer" >
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <hr>
        <ul>
            <li
                v-for="item in items"
                :key="item.title"
                @click="gotoRoute(item.link)"
                class="mobileMenu"
                >
                {{ item.title }}

            </li>
        </ul>
        </v-overlay>
    </div>

  </div>


</template>

<script>
import FixedHeader from 'vue-fixed-header'

export default {
    name:'AppHeader',
    components: {
      FixedHeader
    },
     data () {
      return {
        isFixed:false,
        drawer: false,
        items: [
          { title: 'Home', icon: 'dashboard', link: "/"  },
          { title: 'About', icon: 'dashboard', link: "/about"  },
          { title: 'Programs', icon: 'dashboard', link: "/programs"  },
          { title: 'Curriculum', icon: 'dashboard', link: "/curriculum"  },
          { title: 'Centre', icon: 'dashboard', link: "/centres"  },
          { title: 'Business Verticals', icon: 'dashboard', link: "/bv"  },
          { title: 'Contact', icon: 'dashboard', link: "/contact"  },


        ],
      }
    },
    methods:{
        toggleDrawer(){
            console.log(this.drawer);
            this.drawer = !this.drawer;
        },
        gotoRoute(link){
            this.drawer = !this.drawer;
            this.$router.push({
                path: link
            })
        }
    }
}
</script>

<style scoped>
.mainHeader{
  margin-bottom: 80px;
}
.mobileMenu{
    padding: 0.3em 1em;
    font-size: large;
    font-weight: bold;
}
.sideLogo{
   display: flex;
   align-items: center;
}
.sideLogo>.img1{
    height: 5em;
}
.sideLogo>.img2{
    height: 3em;
}
.v-divider{
    margin-bottom: 0;
}
.v-list{
    padding: 0;
}
/*MOBILE SIDENAV*/

.navbar{
    padding: 0.3em 10em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navbar.vue-fixed-header--isFixed {
  position: fixed!important;
  top: 0;
  z-index: 10!important;
  background: white;
  color: #216d01;
  width: 100%;
  border-bottom: 3px solid yellowgreen;
}
.icon{
    display: none;
}
.navbar.vue-fixed-header--isFixed>.logo{
    display: none;
}
.navbar.vue-fixed-header--isFixed>.icon{
    display: block;
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */
a{
   color: #0a2c4e!important;
}
.nav-item{
    margin: 0 0.5em;
    padding: 0.75em;
    border-radius: 6px;
    font-weight: bold;
}
.nav-item:hover{
    color: white!important;
    background: yellowgreen!important;
    font-weight: bold;
}
.nav-item:hover{
    text-decoration: none;
    background: #216d01;
    cursor: pointer;
}

.logo{
    height: 4em;
    background: rgba(96,142,98,0.61176);
    border-radius: 10em;
}
.icon{
    height: 6em;
}
.logo>img{
    height: 100%;
}
.icon>img{
    height: 100%;
}
a:hover{
    text-decoration: none;
}
.mobileMenu:hover{
    cursor: pointer;
}
.v-list-item{
    border-bottom: 2px solid #718664;
    padding: 0.5em 1em;
    font-weight: bold;
    background: rgb(243, 243, 243);
}
@media only screen and (max-width: 768px) {
    .desktopMenu{
        display: none;
    }
    .navbar{
       padding:0.5em 1em;
    }
    .icon{
        height: 4em;
    }
    .mobileMenu{
        display: block;
    }
}
@media (min-width: 769px) {
    .mobileMenu{
        display: none;
    }
}

</style> -->


<template>
  <div>
    <div class="fixed-nav-top">
      <v-container>
      <v-row>

          <v-col cols="12" md="4" sm="4" class="mobile-top-header">
            <v-container>
              <i class="material-icons">
                call
              </i>
              +91 9010189000

            <div class="mobile-menu">
              <template class="" v-if="$vuetify.breakpoint.xsOnly">
                 <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
              </template>
            </div>
          </v-container>
          </v-col>

          <v-col  cols="12" md="4" sm="4">

            <div class="logo" v-if="$vuetify.breakpoint.smAndUp">
              <div class="logo-circle">
                <a href="/"><img :src="require(`@/assets/b.png`)" alt="Logo"></a>
              </div>
            </div>

          </v-col>
          <v-col  cols="12" md="4" sm="4">

          </v-col>

      </v-row>
      </v-container>
    </div>
    <div class="fixed-top" v-if="$vuetify.breakpoint.smAndUp">
    <v-toolbar>
      <!-- <div class="logo">
          <img :src="require(`@/assets/b.png`)" alt="Logo">
      </div> -->

      <!-- <div class="mobileMenu">
          <i @click="toggleDrawer" class="material-icons menuIcon">menu</i>
      </div> -->
      <!-- <v-spacer></v-spacer> -->




          <v-toolbar-items   class="desktopMenu">
            <v-container>
              <v-btn text to="/">Home</v-btn>
              <v-btn text to="/about">About Beanstalk ILC</v-btn>
              <!-- <v-btn text to="/ourPrograms">Our Programs</v-btn> -->

              <v-menu open-on-hover buttom offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn
                    text
                    v-on="on"
                    @click="gotoRoute('/ilc-programs')"
                  >
                  Our Program
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(menuLists, index) in items"
                    :key="index"
                    @click="gotoRoute(menuLists.link)"
                  >
                    <v-list-item-title class="listColor">{{ menuLists.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

            </v-container>
          </v-toolbar-items>

          <v-spacer></v-spacer>

          <v-toolbar-items  class="desktopMenu" v-if="$vuetify.breakpoint.smAndUp">
            <v-container>
              <!-- <v-btn text to="/">Home</v-btn>
              <v-btn text to="/about">About Beanstalk ILC</v-btn>
              <v-btn text to="/ourPrograms">Our Programs</v-btn> -->
              <v-btn text to="/preschool-curriculum">Curriculum</v-btn>
              <v-btn text to="/preschool-centres">Centres</v-btn>
              <v-btn text to="/contact">Contact</v-btn>
            </v-container>
          </v-toolbar-items>

    </v-toolbar>
  </div>
    <div class="mobile-bottom-menu">
        <v-navigation-drawer
            v-model="drawer"
            absolute
            bottom
            temporary
            >
            <v-list-item>
                <!-- <v-list-item-avatar>
                <v-img src="/img/ilc-icon.png"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                <v-list-item-title> <h2>Beanstalk ILC</h2></v-list-item-title>
                </v-list-item-content> -->
                <v-btn @click="">Close</v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list dense>

                <v-list-item
                v-for="item in items"
                :key="item.title"
                @click="gotoRoute(item.link)"
                >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
                </v-list-item>
            </v-list>
            </v-navigation-drawer>
    </div>
  </div>
</template>

<script>
export default {
    name:'AppHeader',
    data(){
      return{
        drawer: false,
        date: null,
        menu: false,
        modal: false,
        dialog: false,
        items: [
          { title: 'Home', icon: 'dashboard', link:'/' },
          { title: 'About Beanstalk', icon: 'question_answer', link:'/about'},
          { title: 'Our Program', icon: 'dashboard', link:'/ourPrograms'},
          { title: 'Curriculam', icon: 'question_answer', link:'/curriculum'},
          { title: 'Centre', icon: 'dashboard', link:'/centres'},
          { title: 'Contact Us', icon: 'question_answer', link:'/contact'},
        ],
        menuLists: [
        { title: 'Beanstalk International Preschool', link: "/beanstalk-international-preschool" },
        { title: 'Beanstalk Afterschool', link: "/beanstalkAfterschool" },
        { title: 'IIMTT', link: "/montessori-teacher-training-courses" },

      ],
        // nav: [
        //   { title: 'Home', icon: 'dashboard', link: "/"  },
        //   { title: 'About', icon: 'dashboard', link: "/about"  },
        //   { title: 'Programs', icon: 'dashboard', link: "/ourPrograms"  },
        //   { title: 'Curriculum', icon: 'dashboard', link: "/curriculum"  },
        //   { title: 'Centre', icon: 'dashboard', link: "/centres"  },
        //   { title: 'Business Verticals', icon: 'dashboard', link: "/bv"  },
        //   { title: 'Contact', icon: 'dashboard', link: "/contact"  },
        // ]
      }
    },
    methods:{
        toggleDrawer(){
            console.log(this.drawer);
            this.drawer = !this.drawer;
        },
        gotoRoute(link){
            this.drawer = !this.drawer;
            this.$router.push({
                path: link
            })
        }
    }
  }
</script>

<style scoped>
.fixed-top{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 40px;

}
.fixed-nav-top{
    position: fixed;
    width: 100%;
    height: 40px;
    margin: 0px;
    background: white;
    z-index: 2;
}

.input-name {
  height: 40px !important
}
.enquiry-button{
  float: right!important;
}
.header-bg{
  width: 100%;
  height: 80px;
}
.logo-circle img {

   border-radius: 50%;
   width: 150px;
   height: 150px;
   z-index: 2;
   position: absolute;
   padding: 15px 15px 15px 15px;
   background-color: white;
}
.logo{
  padding-left: 30%;
}
.mobile-menu{

    float: right;
}

@media only screen and (max-width: 900px) {
 .logo-circle img{
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background: white;
      padding: 5px;
      margin-left: 70px;
  }
  .logo-circle{
      position: fixed;
      width: 100%;
      max-width: 0px;
      z-index: 1;
  }
  /* .mobile-top-header{
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 2;
    height: 40px;
    width: 100%;
    background: white;
  } */
}
</style>
