<template>
  <div class="">
    <div class="bg-afterschool">

    </div>
    <div class="">

      <h2>WHAT IS BEANSTALK AFTERSCHOOL</h2>
      <p>
        Beanstalk Afterschool is <strong>an eclectic mix of afterschool programs for kids in the age group of 3-11 years,</strong>  focussing on essentials like Brain development, communicative English, handwriting development, etc. We not only provide world-class education, but to do so along with providing the best-in-class support systems. AC Classrooms, Audio Visual Support, colorful environment – all add to the fun element in learning. Our Facilitators are highly trained, vastly experienced and are fully committed to delivering beyond your expectations.
      </p>
      <p>
        The programs, which individually targets key parental concerns and aspirations, has been implemented after years of research and carries the stamp of quality that The Beanstalk stands for. Beanstalk Afterschool is now being run successfully across the country and our training partners can’t stop asking for more.
      </p>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
          >
            <v-img
              class="white--text align-end"
              height="250px"
              src="/img/yle.jpeg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h3>Cambridge Young Learners English (YLE)</h3>
              <p>Children who learn Communicative English when they are young, have a significant advantage when they leave school. Cambridge English exams are valued around the world ...</p><br><br>
            </v-card-subtitle>
            <!-- <v-card-actions>
              <v-btn text>Button</v-btn>
              <v-btn text>Button</v-btn>
            </v-card-actions> -->
            <div align="center" class="text-center">
            <a href="cambridgeYoungLearnersEnglishYLE">
              <v-btn rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
          >
            <v-img
              class="white--text align-end"
              height="250px"
              src="/img/beastalk-3p.jpeg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h3>Beanstalk 3P</h3>
              <p>This is the only afterschool program in India for preschool aged kids. These programs, which are a part of the augmented curriculum at Beanstalk International Preschool is offered as a supplementary..</p><br><br>
            </v-card-subtitle>

            <!-- <v-card-actions>
              <v-btn text>Button</v-btn>
              <v-btn text>Button</v-btn>
            </v-card-actions> -->

            <div align="center" class="text-center button">
            <a href="beanstalk3P">
              <v-btn rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
          >
            <v-img
              class="white--text align-end"
              height="250px"

              src="/img/writo.jpeg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h3>Writo</h3>
              <p>text area</p>
            </v-card-subtitle>

            <!-- <v-card-actions>
              <v-btn text>Button</v-btn>
              <v-btn text>Button</v-btn>
            </v-card-actions> -->

            <div align="center" class="text-center button">
            <a href="writo">
              <v-btn rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>
        <div class="col-sm-3 col-md-3">
          <v-card
            height="100%"
            max-width="600"
          >
            <v-img
              class="white--text align-end"
              height="250px"

              src="/img/abacus.jpeg"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h3>Maxbrain Abacus</h3>
              <p>MaxBrain Abacus Program is a complete brain development program for children 5-15 years of age, where they use abacus as a tool to perform simple to complicated arithmetic calculations.</p><br><br><br>
            </v-card-subtitle>

            <!-- <v-card-actions>
              <v-btn text>Button</v-btn>
              <v-btn text>Button</v-btn>
            </v-card-actions> -->

            <div align="center" class="text-center button">
            <a href="maxbrainAbacus">
              <v-btn rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
export default {
    name:'beanstalkAfterschool'
}
</script>
<style scoped>
.bg-afterschool{
  width: 100%;
  height: 600px;
  background: url('/img/bas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
a{
  text-decoration: none;
}
p{
  text-align: justify;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 5vh;
  text-align: center;
  padding-top: 20px;
  font-family: 'Baskervville', serif;
}
h3{
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
}
.button{

  padding-bottom: 20px;
}
</style>
