
a:hover{
  /* text-decoration: none; */
}
.v-overlay--active>.v-overlay__scrim{
  opacity: 0.9!important;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }
  .nuxt-link-exact-active.nuxt-link-active>.nav-item{
    text-decoration: none;
    background: #216d01;
    color: white!important;
  }
