<template>
   <section>
        <curriculum1/>
   </section>
</template>

<script>
import curriculum1 from '../../components/Curriculum/curriculum1'

export default {
  components: {
    curriculum1
  },

   head () {
    return {
      title: 'Best play school & kindergarten curriculum in Kolkata',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'International Preschool adopting the British Preschool curriculum & EYFS framework. Integrated Phonics, Handwriting, Abacus, French curriculum for preschool.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
