<template>
  <div class="">
    <div class="bg-internationalAccreditations">

    </div>
    <!-- <h2>Our International Accreditations</h2> -->
    <div align="center" class="tab">
        <v-btn active='true' class="btn" text to="/montessori-teacher-training-courses"><span>Courses Offered</span></v-btn>
        <v-btn class="active-bg" text to="/international-accreditations">INTERNATIONAL ACCREDITATIONS</v-btn>
        <v-btn class="btn" text to="/teacher-training-centre"><span>OUR TEACHER TRAINING CENTRE</span></v-btn>
        <v-btn class="btn" text to="/testimonials-reviews"><span>TESTIMONIALS</span></v-btn>
  </div>

  <div class="heading-bg">

    <div class="bg-overlay"></div>
    <div class="bg-text">
      <h2 class="h2-top-heading">INTERNATIONAL ACCREDITATIONS</h2>
    </div>
  </div>

  <div class="Certified-bg">
    <v-container>
    <v-row>
      <v-col cols="12" sm="8" md="8">
        <p>&nbsp; We are an autonomous institution. How does the course differ from the courses offered by AMI, AMS, and MACTE? AMI and AMS do not offer distance education. The Montessori Accreditation Council for Teacher Education (MACTE) has extensively debated the distance education issue. At present, MACTE is still declining to accredit distance education programs. There is no denying that AMI and AMS offer quality training. However, the time commitment and cost often places them beyond what many people are prepared to handle. Our program is a very professional, well managed and cost-effective alternative.</p>
      </v-col>
      <v-col cols="12" sm="4" md="4">
        <div align="center" class="Certified-img">
          <img  :src="require(`@/assets/image/Certified.jpg`)" alt="Certified">
        </div>
      </v-col>
    </v-row>
    </v-container>
  </div>


  </div>
</template>
<script>

export default {
    name:'internationalAccreditations'
}

</script>
<style scoped>
.tab{
  padding-bottom: 5px;
  padding-top: 5px;
}
.Certified-bg{
  background: #e6ffe6;
}
.Certified-img img{
  width: 50%;
  height: 50%;
}
.bg-internationalAccreditations{
  width: 100%;
  height: 300px;
  background: url('/img/yle.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
.heading-bg{
  background: #000 url('/img/happy-teacher-with-students-background_1098-2917.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg-overlay{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  position: absolute;
}
.bg-text{
  z-index: 1;
}
p{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
  h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    /* color: #006600; */
  }
  .h2-top-heading {
    font-size: 10vh;
    font-family: 'Baskervville', serif;
    text-shadow: 5px 2px #ff9900;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }

  @media only screen and (max-width: 768px) {
    .h2-top-heading {
      font-size: 5vh;
    }
    .tab {
      width: 90%;
    }

  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
  }
  .active-bg{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;

  }
  }
</style>
