<template>
  <div class="">
    <div class="bg-training">

      <div class="container">
        <div class="half-underline">
          <h2>Enroll for a Globally Accreditated Teacher Training Program</h2>
        </div>
        <div class="panels training-contain">
          <v-row>
            <v-col cols="12" sm="5" md="5">
            </v-col>
            <v-col cols="12" sm="7" md="7">
              <v-expansion-panels focusable>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h3>ISO 9001:2015 Certified</h3>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <!-- <v-container> -->
                          <div class="">
                            <p>An ISO International Standard represents a global consensus on the state of the art in the subject of
                              that standard. So for every prospective student, an ISO certification represents, more than anything else, the institutions commitment to benchmark it’s product or services against a global standard. It is a recognition of the high standards adopted by the institution that lends a lot of credibility to the institutions value proposition.</p>
                          </div>
                      <!-- </v-container> -->
                    </v-expansion-panel-content>
                  </v-expansion-panel>


                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h3>Recognized Member of International Montessori Council (IMC) USA.</h3>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <!-- <v-container> -->
                          <div class="">
                            <p>The International Montessori Council (IMC) is a professional association designed to provide specific services and support to Montessori educators and schools. Its mission is to protect the vision and legacy of Dr. Maria Montessori and the Montessori Foundation by making policy designed to promote the essential principles of best practices and authentic Montessori education.</p>
                          </div>
                      <!-- </v-container> -->
                    </v-expansion-panel-content>
                  </v-expansion-panel>


                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h3>Recognized Member of International Montessori Society (IMS) USA.</h3>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <!-- <v-container> -->
                          <div class="">
                            <p>MS recognizes Montessori institution based on their commitment and practice to follow laws of nature with children as set forth in specific recognition criteria. IMS seeks to maintain and support this commitment through workshops, teacher education, and consultation services to assure the highest quality of program operation possible.</p>
                         </div>
                       <!-- </v-container> -->
                    </v-expansion-panel-content>
                  </v-expansion-panel>


                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h3>London Teacher Training College.</h3>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <!-- <v-container> -->
                          <div class="">
                            <p>IIMTT is an institutional member of London Teacher Training College which is a professional educational organization based in South London. Established in 1984, the London Teacher Training College has trained a vast number of teachers across the world. </p>
                            <p>There are only a 100 partner schools worldwide which offer LTTC teacher training programmes.</p>
                          </div>
                      <!-- </v-container> -->
                    </v-expansion-panel-content>
                  </v-expansion-panel>


                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h3>Chartered College of Teaching, UK.</h3>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <!-- <v-container> -->
                          <div class="">
                            <p>The teaching profession has had a Royal Charter for almost 170 years, initially granted to the College of Preceptors by Queen Victoria in 1849, to protect and serve teachers. In 2017, this Royal Charter was transferred to the Chartered College of Teaching, a new professional body. The Chartered Teaching College replaces the Teachers College, which previously held the Royal Charter for the teaching profession. In June 2016, the Privy Council accepted a supplementary charter to create the Chartered College of Teaching and was sealed in July 2017.</p>
                          </div>
                      <!-- </v-container> -->
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                </v-expansion-panels>
            </v-col>
          </v-row>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:'centres2'
}
</script>
<style scoped>
.bg-training{
  width: 100%;
  height: auto;
  background: url('/img/teacherTraining.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.training-contain{
  /* padding-top: 250px; */
  padding-bottom: 150px;
}
h2{
  font-size: 5vh;
  font-family: 'Baskervville', serif;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
}
.p {
  padding-top: 30px;
  color: white;
}
.panels{
  padding-top: 20px;
}
  p{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
  .half-underline{
      display: inline-block;
      position: relative;
      width: 100%;
  }
  .half-underline:before {
    content: ' ';
    position: absolute;
    width: 35%;
    height: 1px;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 3px solid #fff;
  }

</style>
