<template>
  <div class="">
    <div class="bg-testimonials">

    </div>

    <div align="center" class="tab">
        <v-btn class=" btn" text to="/coursesOffered"><span>Courses Offered</span></v-btn>
        <v-btn class="btn" text to="/internationalAccreditations"><span>INTERNATIONAL ACCREDITATIONS</span></v-btn>
        <v-btn class="btn" text to="/teacherTrainingCentre"><span>OUR TEACHER TRAINING CENTRE</span></v-btn>
        <v-btn class=" active-bg" text to="/testimonials">TESTIMONIALS</v-btn>
  </div>
    <div class="heading-bg">
      <div class="bg-overlay"></div>
      <div class="bg-text">
        <v-container>
          <v-container>
            <h2><span>Let's see what our dear alumni got to say about our institute….</span></h2>
          </v-container>
           <p class="p-text">Teacher Training Graduates We thank our dear alumni for sharing their valuable feedback with us. We thank you for your sincerity and dedication. We wish you all the very best for your future endeavours.</p>
        </v-container>
      </div>
    </div>


  <div class="bg-texti">
    <v-container>
      <v-carousel
       cycle
       height="400"
       hide-delimiter-background
       hide-delimiters
       show-arrows-on-hover>
       <v-carousel-item
         v-for="(item,i,j) in items"
         :key="i"

       >
       <div class="testimonial-body text-center">
         <div class="image-circle" align="center">
          <img
            :key="j"
            :src="item.src"
          >
        </div>
          <h3>{{ item.name }}</h3>
          <p>{{item.drescription}}</p>
        </div>
     </v-carousel-item>
     </v-carousel>
   </v-container>
  </div>
  </div>
</template>
<script>

export default {
    name:'testimonials',
    data () {
      return {

        items: [
          {

            name: 'Amrita Mukherjee',
            src: '/img/Ankita-Jaiswal-(Pratishtha’s-mom).jpg',
            drescription: 'Teacher Training Graduate - I had a great time in the practice teaching and the practical classes. Classroom handling experience as part of the course was very helpful. Would appreciate if the course covered a bit more about Child Psychology.'
          },
          {

            name: 'Moumita Biswas',
            src: '/img/Rinki Mondol (Oliya’s mom).jpg',
            drescription: "Teacher Training Graduate - I am satisfied with the program conducted at this institute. I enjoyed the practice teaching classes a lot. Thanks to my mentor who guided me throughout the tenure of the course."
          },
          {

            name: 'Rima Mallick',
            src: '/img/Twinkle Santosh Kar (Sayan’s mom).jpg',
            drescription: 'Teacher Training Graduate - I am very happy with my experience at the centre. Friendly atmosphere gave me the comfort I was looking for and a very well structured curriculum enabled me to carve my future as a montessori teacher.'
          },
          {

            name: 'Pooja Jaiswal',
            src: '/img/Ankita  Karmakar ( Soutrik’s Mom ).jpg',
            drescription: "Teacher Training Graduate - I am satisfied with the training delivered at this institute. The training methodology and audio visual support for the topics covered made the learning process easier and structured."
          },
          {
            name: 'Srijata GuptaI ',
            src: '/img/Roma Dokania ( Deeyan’s mom).png',
            drescription: 'Rate the training program as perfect. Thoroughly enjoyed the practice teaching sessions and thanks for the systematic approach undertaken for the program delivery.'
          },
          {
            name: 'Pallabita Dey Sarkar',
            src: '/img/Prerna Sharma ( Hrivan’s mom ).png',
            drescription: "I am very happy with the training conducted. I enjoyed the practice teaching and the practical classes more."
          },
          {
            name: 'Tripa Ray',
            src: '/img/Anuj Sharma (Father of Dhananjay).png',
            drescription: "I am proud to pass out from this institute. The training material was easy to follow and very relevant. The trainers's teaching quality and overall course structure was very good."
          },
          {
            name: 'Payal Kasat ',
            src: '/img/Madhumita Samanta (Ayur’s mom).png',
            drescription: 'Thanks to the institute for helping me become a teacher. The way of teaching was excellent, the AV sessions were helpful.'
          },
          {
            name: 'Sonam Kumari Shaw ',
            src: '/img/Priti Chandak ( Alina’s mom).png',
            drescription: 'The infrastructure was good with adequate equipment support for the practical classes. The teaching methodology and quality of trainer was also good. Would suggest the duration of the practice teaching to be stretched further.'
          },
          {
            name: 'Subhasree Chattopadhyay',
            src: '/img/Joy Banerjee (Riyana”s Father).jpg',
            drescription: 'The overall training environment was very good. Appreciate the way in which the topics were explained in detail by the trainer. Suggest the training period be extended a bit.'
          }

        ],
      }
    },
}
</script>
<style scoped>
.tab{
  padding-bottom: 5px;
  padding-top: 5px;
}
.p-text{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 20px;
  z-index: 1;
}
.heading-bg{
  background: #000 url('/img/happy-teacher-with-students-background_1098-2917.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg-overlay{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  position: absolute;
}
.bg-text{
  z-index: 1;
}
h2 > span {
  font-size: 10vh;
  font-family: 'Baskervville', serif;
  text-align: center;
  text-shadow: 5px 2px #ff9900
}

.image-circle img{
  width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 3px solid lightgray;
   padding: 5px 5px 5px 5px;

}
.bg-texti{
  background-color: #f0f7ef;
  height: auto;
  width: 100%;
}
.bg-testimonials{
  width: 100%;
  height: 300px;
  background: url('/img/yle.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
p{
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    text-align: center;
  }
  h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;

  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }

  @media only screen and (max-width: 768px) {
    .tab {
      width: 90%;
    }
    span{
      color: gray;
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
    }
    .active-bg{
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
      color: white;
    }
  }
</style>
