<template>
  <div class="">
    <div class="bg-afterschool">

    </div>
    <div class="">
      <h2>Beanstalk 3P</h2><br>

      <div align="center" class="desktopMenu">
          <v-btn class="btn" text to="/cambridgeYoungLearnersEnglishYLE"><span>Cambridge Young Learners English (YLE)</span></v-btn>
          <v-btn class="active-bg" text to="/beanstalk3P">Beanstalk 3P</v-btn>
          <v-btn class="btn" text to="/writo"><span>Writo</span></v-btn>
          <v-btn class="btn" text to="/maxbrainAbacus"><span>Maxbrain Abacus</span></v-btn>
    </div>

      <p>This is the only afterschool program in India for preschool aged kids. These programs, which are a part of the augmented curriculum at Beanstalk International Preschool is offered as a supplementary afterschool program once a week on Saturdays for external students. </p><br>
      <p>Each of these programs target specific developmental domains in early childhood that’s critical for the child. </p><br>
      <p>What do we achieve through these programs ? </p><br>
      <p>Whole brain development through Minimax Abacus.</p><br>
      <p>Early Literacy through Super Phonics.</p><br>
      <p>Handwriting and cognitive development through Writo.</p><br>
      <p>Here’s a quick introduction to the triple power of Beanstalk 3P. There’s strong scientific reasoning behind the conceptualizing and implementation of each of these programs. Call us to know more.</p><br>
    </div>

    <v-container>
      <div class="row">
      <div class="col-sm-4 col-md-4">
        <v-card
          height="100%"
          max-width="400"
          class="bottom-border bg-color1"
        >
        <v-img
          class="white--text align-end"
          height="250px"
          src="/img/centre2.jpg"
        >

            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <div class="p">
              <h3>Minimax</h3>
              <p>The Minimax program builds foundational techniques that make learning math effortless and enjoyable. By mastering these techniques, students develop the ability to think in pictures and quickly learn to perform large calculations mentally.  Right brain activation from the pre schooling age helps leverage the full potential of our brain. Minimax Abacus does that and much more.</p>
            </div>

          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-4 col-md-4">
        <v-card
          height="100%"
          max-width="400"
          class="bottom-border bg-color2"
        >
        <v-img
          class="white--text align-end"
          height="250px"
          src="/img/centre-card2.jpg"
        >

            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <div class="p">
              <h3>Super Phonics</h3>
              <p>Super Phonics, tailored on the  acclaimed Jolly Phonics curriculum guidelines, develops a strong foundation for reading and writing. It uses the synthetic phonics method of teaching the letter sounds in a way that is fun and multi-sensory. Children learn how to use the letter sounds to read and write words. It’s a program not just for kids, but also for the mommies – we tutor you on the Super Phonics methodology so that for our kids, the learning never stops.</p>

            </div>

          </v-card-subtitle>
        </v-card>
      </div>
      <div class="col-sm-4 col-md-4">
        <v-card
          height="100%"
          max-width="400"
          class="bottom-border bg-color3"
        >
        <v-img
          class="white--text align-end"
          height="250px"
          src="/img/centre-card3.jpg"
        >

            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <div class="p">
              <h3>Printo, Writo’s</h3>
              <p>Printo, Writo’s preschool program, is India’s only Directed Handwriting Development program for preschoolers.</p><br>
              <p>PRINTO PRIME the writing readiness program 3-4yrs</p><br>
              <p>PRINTO FOUNDATION mastering the strokes 4-5yrs</p><br>
              <p>PRINTO RHYTHM towards fluency 5-6yrs​</p>
            </div>

          </v-card-subtitle>
        </v-card>
      </div>
    </div>
  </v-container>
  </div>
</template>

<script>
export default {
    name:'beanstalk3p'
}
</script>

<style scoped>
.bg-afterschool{
  width: 100%;
  height: 300px;
  background: url('/img/beastalk-3p.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
  h2{
    text-align: center;
    padding-top: 20px;
    font-size: 5vh;
    font-family: 'Baskervville', serif;
    color: #006600;
  }
  h3{
    text-align: center;
    padding-top: 10px;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .btn:hover{
    background-color: #66cc00;
  }
  .active-bg{
    background: #006600;
    color: white;
    font-size: 3vh;
  }
  span{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
  }
</style>
