<template>
   <section>
        <aboutSec1/>
        <aboutSec2/>
        <aboutSec4/>
        <aboutSec3/>
        <enquiryForm/>

   </section>
</template>

<script>
import aboutSec1 from '../../components/About/aboutSec1'
import aboutSec2 from '../../components/About/aboutSec2'
import aboutSec3 from '../../components/About/aboutSec3'
import aboutSec4 from '../../components/About/aboutSec4'
import enquiryForm from '../../components/Programs/enquiryForm'

export default {
  components: {
    aboutSec1,
    aboutSec2,
    aboutSec3,
    aboutSec4,
    enquiryForm

  },

   head () {
    return {
      title: 'Integrated Learning Centre',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Beanstalk Integrated Learning Centre is an internationally recognized preschool, teacher training & afterschool activity centre for kids.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
