<template>
   <section>
        <coursesOffered/>
        <coursesOffered2/>
        <enquiryForm/>
   </section>
</template>

<script>
import coursesOffered from '../../components/CoursesOffered/coursesOffered'
import coursesOffered2 from '../../components/CoursesOffered/coursesOffered2'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    coursesOffered,
    coursesOffered2,
    enquiryForm
  },

   head () {
    return {
      title: 'Montessori Teacher Training Course in Kolkata | IIMTT',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'International Institute of Montessori Teacher Training offers an internationally accredited teacher training program for a rewarding teaching career.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
