<template>

  <div class="">
    <sliderSection/>
    <preschoolTeacher/>
    <ourSolution/>
    <weDifferent/>
    <ourLocation/>
    <videosUpdate/>
    <!-- <gallery/> -->
    <calenderTestimonial/>


  </div>

</template>

<script>
import sliderSection from '../components/Home/sliderSection';
import preschoolTeacher from '../components/Home/preschoolTeacher';
import weDifferent from '../components/Home/weDifferent';
import calenderTestimonial from '../components/Home/calenderTestimonial';
import ourLocation from '../components/Home/ourLocation';
import ourSolution from '../components/Home/ourSolution';
import videosUpdate from '../components/Home/videosUpdate';
import gallery from '../components/Home/gallery';






export default {
  components: {
    sliderSection,
    calenderTestimonial,
    weDifferent,
    preschoolTeacher,
    ourLocation,
    ourSolution,
    gallery,
    videosUpdate


  },
  head () {
    return {
      title: 'Best Play school and teacher training institute in Kolkata ',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Internationally recognized early childhood organization with centres in Baguiati and New Town. Best preschool infrastructure and British Preschool education in Kolkata.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(),500)
    })
  }
}
</script>

<style >


</style>
