<template>
   <section>
        <testimonials/>
        <enquiryForm/>
   </section>
</template>

<script>
import testimonials from '../../components/Testimonials/testimonials'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    testimonials,
    enquiryForm
  },

   head () {
    return {
      title: 'Review our teacher training course in Kolkata| IIMTT',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'IIMTT is an international accredited teacher training provider with a national chain of institutes. Know how thousands of trainees benefited from our programs.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
