<template>
   <section>
     <programs1/>
     <enquiryForm/>
   </section>
</template>

<script>
import programs1 from '../../components/Programs/programs1'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    programs1,
    enquiryForm
  },

   head () {
    return {
      title: 'Beanstalk International Preschool Programs',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Welcome to Beanstalk Integrated learning centre. Kids play school, after school and Montessori teacher training under one roof.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
