<template>
   <section>
        <beanstalkAfterschool/>
   </section>
</template>

<script>
import beanstalkAfterschool from '../../components/BeanstalkAfterschool/beanstalkAfterschool'
export default {
  components: {
    beanstalkAfterschool
  },

   head () {
    return {
      title: 'Best after school activity centre for kids in Kolkata | The Beanstalk',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Best afterschool programs for kids aged 3+ years. Find the best play school activity centre for weekend engagements for kids in Jora Mandir and New Town Kolkata.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
