<template>
   <section>
        <teacherTrainingCentre/>
        <teacherTrainingCentre2/>
        <enquiryForm/>
   </section>
</template>

<script>
import teacherTrainingCentre from '../../components/TeacherTrainingCentre/teacherTrainingCentre'
import teacherTrainingCentre2 from '../../components/TeacherTrainingCentre/teacherTrainingCentre2'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    teacherTrainingCentre,
    teacherTrainingCentre2,
    enquiryForm
  },

   head () {
    return {
      title: 'Teacher Training Centre in Kolkata| IIMTT ',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Globally valued teacher training centre for nursery school teachers. Successfully running pan-India. Now in Baguiati and New Town Kolkata. '
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
