<template>
   <section>
        <centres1/>
        <centres2/>
        <!-- <centres3/> -->
   </section>
</template>

<script>
import centres1 from '../../components/Centres/centres1'
import centres2 from '../../components/Centres/centres2'
// import centres3 from '../../components/Centres/centres3'

export default {
  components: {
    centres1,
    centres2,
    // centres3
  },

   head () {
    return {
      title: 'Best play school in Kolkata',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'The Beanstalk International Preschool has been imparting the best internationally recognized preschool education in Kolkata for close to a decade. '
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
