<template>
   <section>
        <yle/>
        <enquiryForm/>
   </section>
</template>

<script>
import yle from '../../components/cambridgeYoungLearnersEnglishYLE/yle'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    yle,
    enquiryForm
  },

   head () {
    return {
      title: 'CambridgeYoungLearnersEnglish(YLE)',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Content Details.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
