<template>
   <section>
        <maxbrainAbacus/>
        <enquiryForm/>

   </section>
</template>

<script>
import maxbrainAbacus from '../../components/MaxbrainAbacus/maxbrainAbacus'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    maxbrainAbacus,
    enquiryForm
  },

   head () {
    return {
      title: 'Title -Maxbrain Abacus',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Content Details.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
