<template>
  <v-expansion-panels>
    <v-expansion-panel hideToggle="true">
      <div class="enquiry-header">
        <v-container>
          <v-row>
            <v-col cols="12" sm="9" md="9">
                <h2>Have a question ?</h2>
            </v-col>

            <v-col cols="12" sm="3" md="3">
              <v-expansion-panel-header> <v-btn> <span>Enquire Now</span></v-btn></v-expansion-panel-header>
            </v-col>
          </v-row>
        </v-container>

      </div>

      <v-expansion-panel-content>
        <form >
          <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
              v-model="name"
              :error-messages="nameErrors"
              class="input-name"
              label="Parent/Guardian Name"
              filled
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
              v-model="phone"
              :error-messages="mobileNumberErrors"
              class="input-name"
              label="Mobile Number"
              filled
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"

                class="input-name"
                label="E-mail"
                filled
                required
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-text-field
              v-model="childName"
              :error-messages="childNameErrors"
              class="input-name"
              label="Child's Name"
              filled
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-menu

                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date"
                    label="Date of Birth"
                    filled
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date"
                  type="month"
                  :max="new Date().toISOString().substr(0, 10)"
                  no-title
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>

          <v-btn class="mr-4" @click="submit">submit</v-btn>
          <v-btn @click="clear">clear</v-btn>
        </v-container>
        </form>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, email } from 'vuelidate/lib/validators'

  export default {
    name: 'enquiryForm',
    mixins: [validationMixin],

    validations: {
      name: { required },
      phone: { required },
      email: { required, email },
      childName: { required },
    },

    data: () => ({
      name: '',
      phone: '',
      email: '',
      childName: '',
      date: null,
      menu: false,
    }),

    computed: {

      nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long')
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      mobileNumberErrors () {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.minLength && errors.push('Mobile number must be 10 numbers')
        !this.$v.phone.required && errors.push('Mobile number is required.')
        return errors
      },
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
      childNameErrors () {
        const errors = []
        if (!this.$v.childName.$dirty) return errors
        !this.$v.childName.maxLength && errors.push('child Name must be at most 10 characters long')
        !this.$v.childName.required && errors.push('Child name is required.')
        return errors
      },
    },

    methods: {
      submit () {
        this.$v.$touch()
      },
      clear () {
        this.$v.$reset()
        this.name = ''
        this.email = ''
        this.select = null
        this.checkbox = false
      },
    },
  }
</script>

<style scoped>
  .enquiry-header{
    background-color: green;
    height: 130px;
    width: 100%;
  }
  h2{
    font-size: 5vh;
    padding-top: 7px;
    font-family: 'Baskervville', serif;
    color: white;
    font-weight: 600;
  }
span{
  font-size: 3vh;
  font-family: 'Baskervville', serif;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .enquiry-header {
    height: auto;
  }
  h2{
    text-align: center;
  }
  .input-name {
    height: 40px !important
  }
}
</style>
