<template>
  <div class="">
    <div class="bg-contain container-fluid">

    </div>

    <!--  Section1 -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border"
          >
          <v-img
            class="white--text align-end"
            height="250px"
            src="/img/Our Programs - BIP Card.png"
          >
          <!-- <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h3>Beanstalk International Preschool</h3>
              <p>The mother toddler program, which includes a host of different activities, is envisioned for the age group of 6 months to 18 months It gives your toddler an opportunity to explore creativity and interact with other children. This experience is not only recreational but also provides momentous learning opportunities for you and your toddler.
        Research also shows that parental involvement plays one of the most significant roles in a child’s educational triumph. Moreover, parents who are active in their child’s education are representing that education is an essential family value. </p>
            </v-card-subtitle>
            <div align="center" class="text-center button">
            <a href="beanstalk-international-preschool">
              <v-btn rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="250px"
              src="/img/Our Programs - Afterschool Card.png"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h3>What is Beanstalk Afterschool</h3>
              <p>Beanstalk Afterschool is an eclectic mix of afterschool programs for kids in the age group of 3-11 years. Carefully curated programs for your children that are age appropriate and globally benchmarked. Backed by years of research by early childhood experts, these programs address completely different domains of learning essential for your child's accelerated development on all the seven developmental areas of the Early Years Foundation Stage (EYFS) framework, the British Governments mandatory childcare implementation framework.</p><br><br><br>
            </v-card-subtitle>
            <div align="center" class="text-center button">
            <a href="afterschool-programs-beanstalk">
              <v-btn rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>

        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border"
          >
            <v-img
              class="white--text align-end"
              height="250px"
              src="/img/Our Programs - Teacher Training Card.png"
            >
              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">

              <h3>International Institute Of Montessori Teacher Training</h3>
              <p>Our Institute was established to help meet the growing demand for Montessori teachers in India and abroad. Students from all states of India, Gulf countries, North America, Europe, South Africa, Australia, Singapore, Indonesia and Far East participate in various courses offered by us. This course equips participants to educate children in the Montessori Method, at the pre-school level anywhere in the world.</p><br><br><br><br><br><br><br><br>
            </v-card-subtitle>
            <div align="center" class="text-center button">
            <a href="montessori-teacher-training-courses">
              <v-btn  rounded color="primary" dark>View More</v-btn>
            </a>
          </div>
          </v-card>
        </div>

      </div>

    </div>

    <!-- End section1 -->

  </div>
</template>
<script>
export default {
    name:'programs1'
}
</script>
<style scoped>
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
  .bg-contain{
    height: 600px;
    background: url('/img/Our Programs.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-position: 90% 10%;
  }
  .header-title{
    padding-top: 100px;
  }
  a{
    text-decoration: none;
  }
  h3{
    text-align: center;
    font-size: 4vh;
    font-family: 'Baskervville', serif;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  p{

    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button{
    padding-top: 30px;
    padding-bottom: 30px;
  }

</style>
