<template>
  <div class="">
      <div class="row">
        <div class="col-sm-7 col-md-7">
          <h2>Why international</h2>
          <p>There are several reasons which make a Beanstalk Integrated Learning Centre an international early learning centre of excellence. </p>
          <ul>
            <li> <p>The only preschool curriculum with recognition from International Montessori Council (IMC), USA as well as International Montessori Society (IMS), USA.</p> </li>
            <li> <p>Adopts a British Framework (EYFS) for early childhood education as its core curriculum.</p> </li>
            <li> <p>Has adopted internationally renowned curriculum for phonics & handwriting as part of it's augmented curriculum offering.</p> </li>
            <li> <p>Prepares Global Citizens for 2050 and beyond – only curriculum teaching French at preschool level.</p> </li>
          </ul>
          <p>We’ve meticulously put in place an excellent curriculum for early childhood practitioners. We wish all our partners, our early childhood educators and our dear parents, Happy Schooling!</p>
        </div>
        <div align="center" class="col-sm-5 col-md-5 right-img">
        <img  :src="require(`@/assets/image/s2.jpg`)" class="img-responsive" alt="img">
        </div>
      </div>
  </div>
</template>
<script>
export default {
    name:'aboutSec3'
}
</script>

<style scoped>
.right-img img{
    height: 300px;
    margin-top: 150px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 1px 8px 8px 1px #e6ffff;

}
h2{
  font-size: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Baskervville', serif;
  padding-top: 30px;
}
p{
  text-align: justify;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
}
/* ul li{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
} */
ul{
  list-style-type: none;
  list-style-image: url('/img/listIcon.png');
  padding-left: 70px;
  padding-right: 70px;
  /* padding-top: 30px; */
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
}
</style>
