<template>
  <div class="container">
      <div class="row ">
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border"
          >
          <v-img
            class="white--text align-end"
            height="250px"
            src="/img/Our Programs - BIP Card.png"
          >

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>An International Preschool</h2>
              <p>A preschool following an internationally recognized curriculum following UK's EYFS curriculum guidelines. Lays the foundation stone for early learning with several integrated programs that continue into a child's formative years.</p>
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="col-sm-4 col-md-4">
          <v-card
            height="100%"
            max-width="400"
            class="bottom-border"
          >
          <v-img
            class="white--text align-end"
            height="250px"
            src="/img/Our Programs - BIP Card.png"
          >

              <v-card-title>

              </v-card-title>
            </v-img>

            <v-card-subtitle class="pb-0">
              <h2>Teacher Training</h2>
              <p>A study centre for International Institute of Montessori Teacher Training offering.</p>
            </v-card-subtitle>
          </v-card>
        </div>
      <div class="col-sm-4 col-md-4">
        <v-card
          height="100%"
          max-width="400"
          class="bottom-border"
        >
        <v-img
          class="white--text align-end"
          height="250px"
          src="/img/Our Programs - BIP Card.png"
        >

            <v-card-title>

            </v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">
            <h2>After School Activity Centre</h2>
            <p>A study centre for International Institute of Montessori Teacher Training offering.</p>
          </v-card-subtitle>
        </v-card>
      </div>
  </div>
</div>
</template>
<script>
export default {
    name:'aboutSec4'
}
</script>

<style scoped>
h2{
  font-size: 4vh;
  font-family: 'Baskervville', serif;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
  p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
  }
.bottom-border{
  border-bottom: 3px solid yellowgreen;
}
</style>
