<template>
  <div class="container-fluid">
      <div class="row container">
        <div class="col-sm-6 col-md-6">
          <!-- <img  :src="require(`@/assets/image/slide2.jpeg`)" class="img-responsive" alt="img"> -->
          <!-- <div class="embed-responsive embed-responsive-16by9"> -->
            <iframe width="520" height="300" src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- </div> -->
        </div>
        <div class="col-sm-6 col-md-6">
          <h2>What’s an ILC</h2>
          <p>An ILC is an institution carrying expertise in early childhood education from birth till preteens. It correctly identifies and administers age appropriate programs for kids aged 6m-9 yrs.
             For the owners of an ILC, besides the comfort of having invested into a well-diversified business model with muliple value generating streams, it is the goodwill earned in running a highly respectable early learning centre, thatstrongly differentiates an ILC as a proposition. </p>
        </div>
      </div>
  </div>
</template>
<script>
export default {
    name:'aboutSec2'
}
</script>

<style scoped>
iframe{
  padding-left: 50px;
  padding-top: 30px;
}

h2{
  font-size: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Baskervville', serif;
  padding-top: 30px;
}
p{
  text-align: justify;
  padding-top: 20px;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
}
</style>
