<template>
  <div class="">
    <div class="bg-contain">
      <div class="header-title">
        <h2>Some things about us</h2>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    name:'aboutSec1'
}
</script>
<style scoped>
  .bg-contain{
    width: 100%;
    height: 600px;
    background: url('/img/slide2.jpeg');
background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  }
  .header-title{
    text-align: center;
    color: white;
    padding-top: 100px;
  }
  h2{
    font-size: 12vh;
    font-family: 'Baskervville', serif;
  }
</style>
