<template>
   <section>
        <writo/>
        <enquiryForm/>
   </section>
</template>

<script>
import writo from '../../components/Writo/writo'
import enquiryForm from '../../components/Programs/enquiryForm'
export default {
  components: {
    writo,
    enquiryForm
  },

   head () {
    return {
      title: 'Title -Writo',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Content Details.'
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  }

}
</script>

<style>

</style>
